{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-hint">Home</h2>
        <h1 class="govuk-heading-l">Academy transfers projects</h1>
        {{ govukButton({
          text: "Start a new project",
          href: "/transfers/trust-name",
          isStartButton: true
        }) }}
      </div>
    </div>


    

    <h2 class="govuk-heading-s">Your Academy transfer projects</h2>

    {% set records = data.providerRecords | filterByYear(data.currentYear)| filterDisabledTrainingRoutes %}

    {% macro statusCard(records, status) %}
      <a href="/transfers/dashboard/1?status={{status[1]}}" class="status-card status-card--{{status[0] | lower | kebabCase }}">
        {% set recordCount = records[status[1]] | length %}
        <span class="status-card__count">{{recordCount}}</span>
        {{status[0]}}
      </a>
    {% endmacro %}

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      {% set statuses = [['Draft', 'draft'], ['Newly assigned', 'newly_assigned'], ['In progress', 'in_progress']] %}
      {% for status in statuses %}
        <div class="govuk-grid-column-one-third">
          {{ statusCard(projects, status) }}
        </div>
      {% endfor %}
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      {% set statuses = [['At review', 'at_review'], ['Awaiting HTB', 'awaiting_htb']] %}
      {% for status in statuses %}
        <div class="govuk-grid-column-one-quarter">
          {{ statusCard(projects, status) }}
        </div>
      {% endfor %}
    </div>

  </div>

</div>



{% endblock %}
