{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm trainee ID" %}

{% set backLink = referrer or ("/record/" + data.record.id) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {% include "_includes/summary-cards/trainee-id.html" %}



  {{ govukButton({
    text: "Update record"
  }) }}

{% endblock %}

