
.app-\!-uppercase {
  text-transform: uppercase !important;
}

// Display for js only
body:not(.js-enabled) .app-js-only {
  display: none;
}

// Display for no-js only
.js-enabled .app-no-js-only {
  display: none;
}


.app-destructive-link {
  &.govuk-link, &.govuk-link:visited {
    color: govuk-colour("red");
  }
}
