{% extends "_templates/_record-form.html" %}
{% set pageHeadingTraineeName = data.record.personalDetails | getShortName %}
{% set pageHeading = "Check deferral details" %}

{% set backLink = referrer or ("/record/" + data.record.id) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{pageHeadingTraineeName}}</span>
    {{pageHeading}}
  </h1>

  {% include "_includes/summary-cards/defer-details.html" %}

  {# {{ govukCheckboxes({
  idPrefix: "waste",
  name: "record[contactDetails][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.contactDetails.status, "Completed")
    }
  ]
  }) }} #}

  {{ govukButton({
    text: "Defer this trainee"
  }) }}

{% endblock %}
