{% extends "layout.html" %}


{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}
{% set outgoingAcademy = data['trusts'] | getTrustById(data['outgoing-trust-id']) | getAcademiesByIds(data['outgoing-academies']) | first %}

{% block content %}

<h2 class="govuk-hint"> CI 1004634 </h2>

<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Case management</h1>


<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Case details
        </span>
    </summary>


    <section class="app-summary-card govuk-!-margin-bottom-6">

        <header class="app-summary-card__header">

            <h2 class="app-summary-card__title">
                <strong>Case</strong>
            </h2>
        </header>
        <div class="app-summary-card__body">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case Id
                    </dt>
                    <dt class="govuk-summary-list__value">
                        CI - 1004634
                    </dt>
                    <dt class="govuk-summary-list__key">
                        Trust
                    </dt>
                    <dt class="govuk-summary-list__value">
                        <a href="/concerns/trust-overview-1" class="govuk-link govuk-link--no-visited-state">
                            {{ outgoingTrust.trust_name }}</a>
                    </dt>
                </div>

                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Owner
                        </dt>
                    <dd class="govuk-summary-list__value">
                        TBC
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Contact
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Sarah Deloitte (Chair)
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Territory
                        </dt>
                    <dd class="govuk-summary-list__value">
                        Northern
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Telephone
                    </dd>
                    <dd class="govuk-summary-list__value">
                        01234 567890
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Academy
                        </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingAcademy.academy_name }}
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Email
                    </dd>
                    <dd class="govuk-summary-list__value">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        URN
                        </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingAcademy.urn }}
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Website
                    </dd>
                    <dd class="govuk-summary-list__value">

                    </dd>
                </div>
            </dl>
        </div>

    </section>
</details>


<section>

 <!--


    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            
            <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="changed-name">
                        Finance
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" checked />
                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                        Governance
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="changed-name-3">
                        Irregularity
                    </label>
                </div>
                <a class="govuk-link" href="javascript: window.history.go(-1)">Change</a>
            </div>


        </fieldset>
    </div>

-->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <div class="moj-banner">

        <div class="moj-banner__message">

            <h2 class="govuk-heading-m">Governance <a class="govuk-link" style=" float: right;"
                    href="javascript: window.history.go(-1)">Change </a>
            </h2>
        </div>

    </div>
    </div>
</div>



     <div class="govuk-form-group"  id="rr">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m" id="myId">
      <h1 class="govuk-fieldset__heading">
        Type of governcance issue or concern
      </h1>
    </legend>
    <div class="govuk-checkboxes govuk-checkboxes--small">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
        <label class="govuk-label govuk-checkboxes__label" for="organisation">
          Financial returns compliance
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal" checked />
        <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
          Financial reporting compliance 
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
          Executive pay
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT" checked />
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Governance 
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Closure 
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
        <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
          Safeguarding 
        </label>
      </div>
    </div>

  </fieldset>
</div>


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
                Risk rating
            </h1>
        </legend>
        <div class="govuk-radios">
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
                    value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    <span class="govuk-tag govuk-tag-green">green</span>
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
                    value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    <span class="govuk-tag govuk-tag-green">green</span>
                    <span class="govuk-tag govuk-tag-amber">amber</span>
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio"
                    value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                    <span class="govuk-tag govuk-tag-amber">amber</span>
                    <span class="govuk-tag govuk-tag-red">red</span>
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio"
                    value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    <span class="govuk-tag govuk-tag-red">red</span>
                </label>
            </div>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio"
                    value="northern-ireland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                    <span class="govuk-tag govuk-tag-red">red plus</span>
                </label>
            </div>
        </div>

    </fieldset>
</div>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox"
                    value="hmrc">
                <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="organisation">
                    Make this issue Primary
                </label>
            </div>
    </fieldset>
</div> 


    <a href="/concerns/governance/case-overview.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-6">
        Save and continue
    </a>

    {% endblock %}