    // "colour":            govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30),
    // "background-colour": govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 90),
    // "hover":             govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 80)


.dashboard-project-right {
  text-align: right;
}

.dashboard__urgent-projects {
  background-color: govuk-tint(govuk-colour("light-grey"), 30);
}

.dashboard__filter-list {
  border: 1px solid #979797;
  padding: 12px;
}

.dashboard-project__small-text {
  color: $govuk-secondary-text-colour;
}
