{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Confirm programme details" %}

{% set backLink = referrer or ("/record/" + data.record.id) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}
  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {% include "_includes/summary-cards/programme-details.html" %}

  {# {{ govukCheckboxes({
  idPrefix: "waste",
  name: "record[programmeDetails][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.programmeDetails.status, "Completed")
    }
  ]
  }) }} #}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}

