{% set notPassedReason %}
  {% if record.notPassedReason == "For another reason" %}
    {{record.notPassedReasonOther}}
  {% else%}
    {{record.notPassedReason}}
  {% endif %}
{% endset %}

{% set qtsDetailsRowOutcomeText%}
  {% if record.qtsDetails.standardsAssessedOutcome == "No" %}
    Standards not met
  {% else %} 
    Not provided
  {% endif %}
{% endset %}

{% set qtsDetailsRows = [
  {
    key: {
      text: "Outcome"
    },
    value: {
      text: qtsDetailsRowOutcomeText
    },
    actions: {
      items: [
        {
          href: recordPath + "/qts/outcome" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "assessment outcome"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Date standards not met"
    },
    value: {
      text: record.qtsDetails.qtsOutcomeRecordedDate | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/qts/outcome-date" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "date standards not met"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Reason"
    },
    value: {
      text: notPassedReason or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/qts/not-passed/reason" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "reason for not passing"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Date of assessment"
    },
    value: {
      text: record.qtsDetails.dateAssessmentPassed | govukDate or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/qts/outcome" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "date of assessment"
        }
      ]
    } if canAmend
  } if false,
  {
    key: {
      text: "Future status"
    },
    value: {
      text: record.qtsDetails.withdrawalStatus or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/qts/not-passed/withdrawal" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "future course status"
        }
      ]
    } if canAmend
  }

  ] %}

{% set qtsDetailsHtml %}
  {{ govukSummaryList({
    rows: qtsDetailsRows
  }) }}
  
{% endset %}

{% set complete = true if (record.contactDetails | sectionIsCompleted ) %}
{% set status  = record.contactDetails | getStatusText %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "contact-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Contact details not marked as complete" %}
    {% set incompleteLink = recordPath + "/contact-details/confirm" | addReferrer(referrer) %}
  {% else %}
    {% set incompleteText = "Contact details not started" %}
    {% set incompleteLink = recordPath + "/contact-details" | addReferrer(referrer) %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Outcome details",
    html: qtsDetailsHtml
  }) }}
  
{% endif %}
