{% extends "_templates/_record-form.html" %}

{% set pageHeading = "Trainee recommended for QTS" %}

{# {% set formAction = "./save" %} #}

{% set hideReturnLink = true %}
{% set backLink = "/record/" + data.record.id %}
{% set backText = 'Return to trainee' %}


{% block formContent %}

{% set panelTitleText %}
  {{ record.personalDetails.shortName or 'Trainee' }} recommended for QTS
{% endset %}

{{ govukPanel({
  titleText: panelTitleText,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">The Department for Education will award QTS where appropriate within 3 working days.</p>

<p class="govuk-body govuk-!-margin-bottom-9"><a href="/records" class="govuk-link">Check trainee statuses from your list of records</a></p>

{# {{ govukButton({
  text: "View record",
  href: "/record/" + data.recordId
}) }}

{{ govukButton({
  text: "Add another record",
  href: "/new-record/new"
}) }}
 #}

 {% set insetTextHtml %}
   <h2 class="govuk-heading-s">How are you finding this process?</h2>
   <p class="govuk-body"><a href="#" class="govuk-link">Give feedback to help improve the process of recommending trainees for QTS</a></p>
 {% endset %}

 {{ govukInsetText({
   html: insetTextHtml
 }) }}

{% endblock %}
