{% extends "layout.html" %}


{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}
{% set outgoingAcademy = data['trusts'] | getTrustById(data['outgoing-trust-id']) | getAcademiesByIds(data['outgoing-academies']) | first %}

{% block content %}

<h2 class="govuk-hint"> Caseload </h2>

<h1 class="govuk-heading-l govuk-!-margin-bottom-9">Case management</h1>

<section class="app-summary-card govuk-!-margin-bottom-6">

    <header class="app-summary-card__header">

        <h2 class="app-summary-card__title">
            <strong>Case</strong>
        </h2>
    </header>
    <div class="app-summary-card__body">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case Id
                </dt>
                <dt class="govuk-summary-list__value">
                    CI - 1004634
                </dt>
                <dt class="govuk-summary-list__key">
                    Trust
                </dt>
                <dt class="govuk-summary-list__value">
                    <a href="/concerns/trust-overview-1" class="govuk-link govuk-link--no-visited-state">
                        {{ outgoingTrust.trust_name }}</a>
                </dt>
            </div>

            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__key">
                    Owner
                    </dt>
                <dd class="govuk-summary-list__value">
                    TBC
                </dd>
                <dd class="govuk-summary-list__key">
                    Contact
                </dd>
                <dd class="govuk-summary-list__value">
                    Sarah Deloitte (Chair)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__key">
                    Territory
                    </dt>
                <dd class="govuk-summary-list__value">
                    Northern
                </dd>
                <dd class="govuk-summary-list__key">
                    Telephone
                </dd>
                <dd class="govuk-summary-list__value">
                    01234 567890
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__key">
                    Academy
                    </dt>
                <dd class="govuk-summary-list__value">
                    {{ outgoingAcademy.academy_name }}
                </dd>
                <dd class="govuk-summary-list__key">
                    Email
                </dd>
                <dd class="govuk-summary-list__value">
                    
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__key">
                    URN
                    </dt>
                <dd class="govuk-summary-list__value">
                    {{ outgoingAcademy.urn }}
                </dd>
                <dd class="govuk-summary-list__key">
                    Website
                </dd>
                <dd class="govuk-summary-list__value">
                     
                </dd>
            </div>
        </dl>
    </div>

</section>


<section>
    <h2 class="govuk-heading-m">Create case</h2>

    <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body" style="border-left: 5px solid red; padding-left: 10px;">
        Please select the issue that is more closely assosiated with this case.<br> A case can have more 
        than one issue and become a concern
        at any point of the history of the case.
    </p>
    </div>
    </div>
    </a>
   

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Concern detail
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      
    
   
   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <div id="changed-name-hint" class="govuk-hint">
      Please select the main concern from the radio buttons
    </div>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
         Finance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          Governance
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-3">
          Irregularity
        </label>
      </div>
    </div>


  </fieldset>
</div>
</div>

    {% endblock %}