<!DOCTYPE html>
<html>
<head>
  <title>Your Casework</title>
</head>
<body>

  {%- set htmlClasses = 'app-width-wide' -%}
  {% extends "layout.html" %} {% block content %}
  <div class="govuk-!-margin-top-0">
    {% from "govuk/components/button/macro.njk" import govukButton %}
    <div class="govuk-button-group flexalign__right">
      <a class="govuk-link"
           href="closed-cases">Closed cases</a> {{ govukButton({ text: "Create case", href: "new-case" }) }}
    </div>

    <!-- Active casework -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Your active casework (<span>5</span>)
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row tr__large">
          <th class="govuk-table__header"
              scope="col">Case ID</th>
          <th class="govuk-table__header"
          scope="col">Last update</th>
          <th class="govuk-table__header"
              scope="col">Trust/Academy</th>
          <th class="govuk-table__header"
              scope="col">Primary case type</th>
          <th class="govuk-table__header"
              scope="col">RAG rating</th>
           <th class="govuk-table__header"
              scope="col">Created</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10237AC</a>
          </td>
          <td class="govuk-table__cell">10-08-2021</td>
          <td class="govuk-table__cell">
            Straylight Academies
            <br>
            Hackworth Academy
          </td>
          <td class="govuk-table__cell">Safeguarding Incident</td>
          <td class="govuk-table__cell"> </td>
          <td class="govuk-table__cell">09-08-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10192AC</a>
          </td>
          <td class="govuk-table__cell">09-08-2021</td>
          <td class="govuk-table__cell">Wintermute Academy Trust</td>
          <td class="govuk-table__cell">
            Concern<br>
            Governance: Executive Pay
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
          </td>
          <td class="govuk-table__cell">28-06-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10187AC</a>
          </td>
          <td class="govuk-table__cell">08-08-2021</td>
          <td class="govuk-table__cell">Armitage Education Trust</td>
          <td class="govuk-table__cell">Concern<br>Financial: Clawback</td>
          <td class="govuk-table__cell"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></td>
          <td class="govuk-table__cell">10-07-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10194AC</a>
          </td>
          <td class="govuk-table__cell">06-08-2021</td>
          <td class="govuk-table__cell">
            The Linda Lee Academies Trust<br>
            Matheson Secondary School
          </td>
          <td class="govuk-table__cell">Record<br>SRMA</td>
          <td class="govuk-table__cell">
            <span class="govuk-tag ragtag ragtag__green">Green</span>
          </td>
          <td class="govuk-table__cell">05-08-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="/concerns/management/example-case">10244AC</a>
          </td>
          <td class="govuk-table__cell">29-07-2021</td>
          <td class="govuk-table__cell">Wintermute Academy Trust</td>
          <td class="govuk-table__cell">
            Concern<br>
            Financial: Deficit
          </td>
          <td class="govuk-table__cell">
          <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
          </td>
          <td class="govuk-table__cell">07-07-2021</td>
        </tr>

      </tbody>
    </table>

    <!-- Closed for monitoring -->
    <table class="govuk-table  govuk-!-margin-top-9">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Closed for monitoring
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row tr__large">
          <th class="govuk-table__header" scope="col">Case ID</th>
          <th class="govuk-table__header" scope="col">Trust/Academy</th>
          <th class="govuk-table__header" scope="col">Primary case type</th>
          <th class="govuk-table__header" scope="col">Closed</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10237AC</a>
          </td>
          <td class="govuk-table__cell">
            Straylight Academies
            <br>
            John Percival Secondary
          </td>
          <td class="govuk-table__cell">
            Concern<br>
            Finance: Projected deficit
          </td>
          <td class="govuk-table__cell">18-07-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10192AC</a>
          </td>
          <td class="govuk-table__cell">Redpath Trust</td>
          <td class="govuk-table__cell">
            Concern<br>
            Compliance: Financial reporting 
          </td>
          <td class="govuk-table__cell">23-04-2021</td>
        </tr>

      </tbody>
    </table>

  </div>
  {% endblock %}
</body>

</html>
