<!DOCTYPE html>
<html>
<head>
</head>

<body>

  {%- set htmlClasses = 'app-width-wide' -%}
  {% extends "layout.html" %} {% block content %}
  <div class="govuk-!-margin-top-0">
    {% from "govuk/components/button/macro.njk" import govukButton %}

    <!-- Active casework -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Your active casework

        <!-- Buttons -->
        <div class="header_buttons">
          {{ govukButton({
            text: "Create case",
            classes: "button-noMargin",
            href: "new-case"
          }) }}
          {{ govukButton({
            text: "Find trust",
            classes: "govuk-button--secondary button-noMargin",
            href: "#"
          }) }}
        </div>
        
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row tr__large">
          <th class="govuk-table__header"
              scope="col">Case ID</th>
          <th class="govuk-table__header"
          scope="col">Last update</th>
          <th class="govuk-table__header"
              scope="col">Trust/Academy</th>
          <th class="govuk-table__header"
              scope="col">Concerns</th>
          <th class="govuk-table__header"
              scope="col">Trust risk</th>
           <th class="govuk-table__header align_right"
              scope="col">Created</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10237AC</a>
          </td>
          <td class="govuk-table__cell">10-08-2021</td>
          <td class="govuk-table__cell">
            Straylight Academies
            <br>
            Hackworth Academy
          </td>
          <td class="govuk-table__cell">
            Safeguarding Incident
          </td>
          <td class="govuk-table__cell">
          <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span></div>
          </td>
          <td class="govuk-table__cell align_right">09-08-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10192AC</a>
          </td>
          <td class="govuk-table__cell">09-08-2021</td>
          <td class="govuk-table__cell">
            Settlebeck School Academy Trust
          </td>
          <td class="govuk-table__cell">
            Financial: Deficit
            <br>Governance: Executive Pay
          </td>
          <td class="govuk-table__cell">
            <div class="tag-block"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></div>
          </td>
          <td class="govuk-table__cell align_right">28-06-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10187AC</a>
          </td>
          <td class="govuk-table__cell">08-08-2021</td>
          <td class="govuk-table__cell">
            Armitage Education Trust
          </td>
          <td class="govuk-table__cell">
            Compliance: Financial reporting
            <br>Compliance: Financial returns
            <br>Governance: Governance
          </td>
          <td class="govuk-table__cell">
            <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span></div>
          </td>
          <td class="govuk-table__cell align_right">10-07-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="/concerns/management/example-case-two">10194AC</a>
          </td>
          <td class="govuk-table__cell">06-08-2021</td>
          <td class="govuk-table__cell">
            Acer Trust
          </td>
          <td class="govuk-table__cell">
            Financial: Deficit
            <br>Financial: Cash flow shortfall
          </td>
          <td class="govuk-table__cell">
            {% if data['riskTypeExTwo'] == 'amberGreen' %}
            <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
            {% elif data['riskTypeExTwo'] == 'redAmber' %}
            <span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
            {% elif data['riskTypeExTwo'] == 'red' %}
            <span class="govuk-tag ragtag ragtag__red">Red</span>
            {% elif data['riskTypeExTwo'] == 'redPlus' %}
            <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
            {% else %}
            <span class="govuk-tag ragtag ragtag__red">Red</span>
            {% endif %}
          </td>
          <td class="govuk-table__cell align_right">05-08-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="/concerns/management/example-case">10244AC</a>
          </td>
          <td class="govuk-table__cell">29-07-2021</td>
          <td class="govuk-table__cell">
            Wintermute Academy Trust
          </td>
          <td class="govuk-table__cell">
            Financial: Projected deficit / Low future surplus
          </td>
          <td class="govuk-table__cell">
            {% if data['riskTypeEx'] == 'amberGreen' %}
            <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
            {% elif data['riskTypeEx'] == 'redAmber' %}
            <span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
            {% elif data['riskTypeEx'] == 'red' %}
            <span class="govuk-tag ragtag ragtag__red">Red</span>
            {% elif data['riskTypeEx'] == 'redPlus' %}
            <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
            {% else %}
            <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
            {% endif %}
          </td>
          <td class="govuk-table__cell align_right">07-07-2021</td>
        </tr>

      </tbody>
    </table>

    <!-- Closed for monitoring -->
    <table class="govuk-table govuk-!-margin-top-9">
      <caption class="govuk-table__caption govuk-table__caption--m">
        Closed for monitoring

        <div class="header_buttons">
          {{ govukButton({
          text: "All closed cases",
          classes: "govuk-button--secondary button-noMargin",
          href: "#"
          }) }}
        </div>
      </caption>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row tr__large">
          <th class="govuk-table__header" scope="col">Case ID</th>
          <th class="govuk-table__header" scope="col">Trust/Academy</th>
          <th class="govuk-table__header" scope="col">Concerns at closure</th>
          <th class="govuk-table__header align_right" scope="col">Review date</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10237AC</a>
          </td>
          <td class="govuk-table__cell">
            Straylight Academies
            <br>
            John Percival Secondary
          </td>
          <td class="govuk-table__cell">
            Safeguarding
          </td>
          <td class="govuk-table__cell align_right">18-11-2021</td>
        </tr>

        <tr class="govuk-table__row tr__large">
          <td class="govuk-table__cell">
            <a href="#">10192AC</a>
          </td>
          <td class="govuk-table__cell">
            Redpath Trust
          </td>
          <td class="govuk-table__cell">
            Compliance: Financial reporting
            <br>Compliance: Financial returns
          </td>
          <td class="govuk-table__cell align_right">01-12-2022</td>
        </tr>

      </tbody>
    </table>

  </div>
  {% endblock %}
</body>

</html>
