{% extends "layout.html" %}


{% block content %}

    <div class="govuk-grid-row govuk-grid-row-extra">
        <div class="govuk-grid-column-full-extra">
        <h2 class="govuk-hint"> Caseworker </h2>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Nikolaos Gkionis</h1>

      </div>
    
    <div>

   
      <div class="govuk-grid-row govuk-grid-row-extra">
        <div class="govuk-grid-column-full-extra">

    <section class="app-summary-card  govuk-!-margin-bottom-9">
          
          <header class="app-summary-card__header">
      
            <h2 class="app-summary-card__title">
               <strong>Your notifications</strong>
           </h2>
          </header>
    <div class="app-summary-card__body">
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dt class="govuk-summary-list__key">
               Case Id
            </dt>
            <dt class="govuk-summary-list__key">
               Organisation
            </dt>
            <dt class="govuk-summary-list__key">
               Case Type
            </dt>
            
          </div>
          
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             <span class="govuk-tag govuk-tag--pink">Overdue</span>
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="/concerns/initial-contact" class="govuk-link">
               CI - 1004634</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> St Wilfred's primary school </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Financial query responce </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             <span class="govuk-tag govuk-tag--green">Today</span>
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
               CI - 10078991</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> St Isadore’s Primary School </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> SRMA Report </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             Tue 06 April 2021
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link">
               CI - 10077789</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Wintermute Academy Trust </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Governance statement </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             Tue 13 April 2021
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link ">
               CI - 10075656</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> The Linda Lee Academy </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Final report </p>
            </dd>
            
          </div>

        </dl>
    </section>

 

    <section class="app-summary-card  govuk-!-margin-bottom-9">
          
          <header class="app-summary-card__header">
      
            <h2 class="app-summary-card__title">
               <strong>Your active casework</strong>
           </h2>
          </header>
    <div class="app-summary-card__body">
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dt class="govuk-summary-list__key">
               Case Id
            </dt>
            <dt class="govuk-summary-list__key">
               Status
            </dt>
            <dt class="govuk-summary-list__key">
               Case Type
            </dt>
          </div>
          
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="/concerns/trust-overview-1" class="govuk-link ">
             St Wilfred's primary school</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 10078904
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-green">green</span>
              <span class="govuk-tag govuk-tag-amber">amber</span>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Financial query responce </p>
            </dd>
          </div>
            
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link ">
             St Isadore’s Primary School</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 100789918
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> SRMA Report </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link ">
             Wintermute Academy Trust</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 10077789
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-green">green</span>
              <span class="govuk-tag govuk-tag-amber">amber</span>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Governance statement </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link ">
             The Linda Lee Academy</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 10075656
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Final report </p>
            </dd>
            
          </div>

        </dl>
    </section>

<section>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#queue">
        Queue
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#activities">
        Activities
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="queue">
    <h2 class="govuk-heading-l">
    <div class="govuk-form-group">
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Recently published</option>
    <option value="updated" selected>Central territory</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
</div>
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Created</th>
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Case Type</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 10 2020</td>
          <td class="govuk-table__cell"><a href="/concerns/trust-overview-1" class="govuk-link ">
             St, Wilfred’s primary school </a></td>
          <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag-green">green</span>
          <span class="govuk-tag govuk-tag-amber">amber</span></td>
          <td class="govuk-table__cell">CI - 10078904</td>
          <td class="govuk-table__cell">Financial query responce</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 11 2020</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link ">
             St Isadore’s Primary School</a></td>
          <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span></td>
          <td class="govuk-table__cell">CI - 10078991</td>
          <td class="govuk-table__cell">SRMA Report</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 10 2020</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link ">
             Wintermute Academy Trust</a></td>
          <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag-green">green</span>
          <span class="govuk-tag govuk-tag-amber">amber</span></td>
          <td class="govuk-table__cell">CI - 10077789</td>
          <td class="govuk-table__cell">Governance statemente</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 01 2021</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link ">
             The Linda Lee Academy</a></td>
          <td class="govuk-table__cell">
         <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span></td>
          <td class="govuk-table__cell">CI - 10075656</td>
          <td class="govuk-table__cell">Final report</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="activities">
    <h2 class="govuk-heading-l"> <div class="govuk-form-group">
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Recently published</option>
    <option value="updated" selected>Central territory</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
</div>
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Created</th>
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Case Type</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 10 2020</td>
          <td class="govuk-table__cell"><a href="/concerns/trust-overview-1" class="govuk-link ">
             St, Wilfred’s primary school </a></td>
          <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag-green">green</span>
          <span class="govuk-tag govuk-tag-amber">amber</span></td>
          <td class="govuk-table__cell">CI - 10078904</td>
          <td class="govuk-table__cell">Financial query responce</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">25 11 2020</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link ">
             St Isadore’s Primary School</a></td>
          <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span></td>
          <td class="govuk-table__cell">CI - 10078991</td>
          <td class="govuk-table__cell">SRMA Report</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 10 2020</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link ">
             Wintermute Academy Trust</a></td>
          <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag-green">green</span>
          <span class="govuk-tag govuk-tag-amber">amber</span></td>
          <td class="govuk-table__cell">CI - 10077789</td>
          <td class="govuk-table__cell">Governance statemente</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 01 2021</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link ">
             The Linda Lee Academy</a></td>
          <td class="govuk-table__cell">
         <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span></td>
          <td class="govuk-table__cell">CI - 10075656</td>
          <td class="govuk-table__cell">Final report</td>
        </tr>
      </tbody>
    </table>

  </div>
  
    </table>

  </div>
</div>
</section>
    
    





{% endblock %}