{% extends "layout.html" %}


{% block content %}

    <div class="govuk-grid-row govuk-grid-row-extra">
        <div class="govuk-grid-column-full-extra">
        <h2 class="govuk-hint"> Caseworker </h2>

        <h1 class="govuk-heading-l">Nikolaos Gkionis</h1>

      </div>
    
    <div>

   
      <div class="govuk-grid-row govuk-grid-row-extra">
        <div class="govuk-grid-column-full-extra">

    <section class="app-summary-card  govuk-!-margin-bottom-9">
          
          <header class="app-summary-card__header">
      
            <h2 class="app-summary-card__title">
               <strong>Your notifications</strong>
           </h2>
          </header>
    <div class="app-summary-card__body">
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dt class="govuk-summary-list__key">
               Case Id
            </dt>
            <dt class="govuk-summary-list__key">
               Organisation
            </dt>
            <dt class="govuk-summary-list__key">
               Case Type
            </dt>
            
          </div>
          
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             <span class="govuk-tag govuk-tag--pink">Overdue</span>
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
               CI - 10078904</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> St Wilfred's primary school </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Financial query responce </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             <span class="govuk-tag govuk-tag--green">Today</span>
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
               CI - 10078991</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> St Isadore’s Primary School </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> SRMA Report </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             Tue 06 April 2021
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="/concerns/initial-contact-2" class="govuk-link">
               CI - 10077789</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Wintermute Academy Trust </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Governance statement </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
             Tue 13 April 2021
            </dt>
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
               CI - 10075656</a>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> The Linda Lee Academy </p>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Final report </p>
            </dd>
            
          </div>

        </dl>
    </section>

 

    <section class="app-summary-card  govuk-!-margin-bottom-9">
          
          <header class="app-summary-card__header">
      
            <h2 class="app-summary-card__title">
               <strong>Your active casework</strong>
           </h2>
          </header>
    <div class="app-summary-card__body">
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dt class="govuk-summary-list__key">
               Case Id
            </dt>
            <dt class="govuk-summary-list__key">
               Status
            </dt>
            <dt class="govuk-summary-list__key">
               Case Type
            </dt>
          </div>
          
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
             St Wilfred's primary school</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 10078904
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-green">green</span>
              <span class="govuk-tag govuk-tag-amber">amber</span>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Financial query responce </p>
            </dd>
          </div>
            
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
             St Isadore’s Primary School</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 100789918
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> SRMA Report </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
             Wintermute Academy Trust</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 10077789
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-green">green</span>
              <span class="govuk-tag govuk-tag-amber">amber</span>
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Governance statement </p>
            </dd>
            
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
            <a href="#" class="govuk-link govuk-link--no-visited-state">
             The Linda Lee Academy</a>
            </dt>
            <dd class="govuk-summary-list__value">
               CI - 10075656
            </dd>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag govuk-tag-amber">amber</span>
              <span class="govuk-tag govuk-tag-red">red</span
            </dd>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> Final report </p>
            </dd>
            
          </div>

        </dl>
    </section>
    
{% endblock %}