<!DOCTYPE html>
<html>
<head>
  <title>New case</title>
</head>

{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-m">Create case</h1>

        <form method="get" action="/concerns/trust-details-concern">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" data-required data-error="Search cannot be blank" aria-required="true">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading govuk-heading-m">
                  Find Trust
                </h2>
              </legend>

              <label class="govuk-hint" for="outgoing-trust-search-query" id="outgoing-trust-search-query-hint">
                Search by name, trust reference number or companies house number
              </label>

              <input class="govuk-input form-control" name="outgoing-trust-search-query" id="outgoing-trust-search-query" type="text" aria-describedby="outgoing-trust-search-query-hint">
              
              <div id="autocomplete-container">
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" type="submit">Next</button>

        </form>
        
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
    {# <link rel="stylesheet" href="/public/stylesheets/autocomplete.min.css"/> #}
    <script>
      try {
        const trusts = {{ data["trusts"] | trustsForAutocomplete | dump | safe }}
        const trustNames = trusts.map(trust => trust.searchString)
        const $input = document.getElementById('outgoing-trust-search-query')

        accessibleAutocomplete({
          element: document.querySelector('#autocomplete-container'),
          id: $input.id,
          name: $input.name,
          source: trustNames,
          confirmOnBlur: false,
          onConfirm: (selected) => ($input.value = selected ? trusts.find(item => item.searchString === selected).id : '')
        })

        $input.id = `old-${$input.id}`
        $input.name = 'outgoing-trust-id'
        $input.type = 'hidden'
      } catch {
        console.log('Autocomplete failed to initialize...')
      }
    </script>
{% endblock %}