<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}

  {% block content %}
  {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Create case</span>
        <h1 class="govuk-heading-l">Concerns</h1>
      </div>

      <div class="grid-column-full-width">
      
        <!-- Trust details -->
        <dl class="govuk-summary-list">
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Trust</dt>
              <dd class="govuk-summary-list__value">
                {{ trust.trust_name }} ({{ trust.region }})
                </br>{{ trust.address }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="/concerns/new-case.html" class="govuk-link govuk-link--no-visited-state" style="float:right;">Change trust</a>
              </dd>
          </div>

        </dl>
      </div>

      <div class="govuk-grid-column-two-thirds">

        <form action="new_case_concerns_002" class="form" method="post">

          <!--Q Concern type one-->
          <div class="govuk-form-group govuk-!-margin-top-6">
            <fieldset class="govuk-fieldset">
      
              <legend class="govuk-heading-m">
                Select a concern
              </legend>

              <div class="govuk-hint" id="case-issue-hint">
                Use the <a href="/public/docs/Risk_Management_Framework.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">Risk Management Framework (opens in new tab)</a> to assess the type of concern and the level of risk.
              </div>

              <!--Concern radios-->
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <!--Compliance-->  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-1" id="concern-compliance" name="concernType" type="radio" value="compliance">
                  <label class="govuk-label govuk-radios__label" for="concern-compliance">
                    Compliance
                  </label>
                </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-1">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-compliance-1" name="concernSubType" type="radio" value="compliance-financial-reporting">
                        <label class="govuk-label govuk-radios__label" for="concern-compliance-1">
                          Compliance: Financial reporting
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-compliance-2" name="concernSubType" type="radio" value="compliance-financial-returns">
                        <label class="govuk-label govuk-radios__label" for="concern-compliance-2">
                          Compliance: Financial returns
                        </label>
                      </div>

                    </div>

                  </div>

                <!--Finance-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-2" id="concern-financial" name="concernType" type="radio" value="financial">
                  <label class="govuk-label govuk-radios__label" for="concern-financial">
                    Financial
                  </label>
                </div>
      
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-2">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-1" name="concernSubType" type="radio" value="financial-deficit">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-1">
                          Financial: Deficit
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-2" name="concernSubType" type="radio" value="financial-projected-deficit">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-2">
                          Financial: Projected deficit / Low future surplus
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-3" name="concernSubType" type="radio" value="financial-cash-flow-shortfall">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-3">
                          Financial: Cash flow shortfall
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-4" name="concernSubType" type="radio" value="financial-clawback">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-4">
                          Financial: Clawback
                        </label>
                      </div>

                    </div>

                  </div>
                  
                <!--Force Majure-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-3" id="concern-force-majeure" name="concernType" type="radio" value="force-majeure">
                  <label class="govuk-label govuk-radios__label" for="concern-force-majeure">
                    Force Majeure
                  </label>
                </div>

                <!--Governance-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-4" id="concern-governance" name="concernType" type="radio" value="governance">
                  <label class="govuk-label govuk-radios__label" for="concern-governance">
                    Governance
                  </label>
                </div>
      
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-4">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-1" name="concernSubType" type="radio" value="governance-governance">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-1">
                          Governance: Governance
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-2" name="concernSubType" type="radio" value="governance-closure">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-2">
                          Governance: Closure
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-3" name="concernSubType" type="radio" value="governance-executive-pay">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-3">
                          Governance: Executive Pay
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-4" name="concernSubType" type="radio" value="governance-safeguarding">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-4">
                          Governance: Safeguarding
                        </label>
                      </div>

                    </div>

                  </div>

                <!--Irregularity-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-5" id="concern-irregularity" name="concernType" type="radio" value="irregularity">
                  <label class="govuk-label govuk-radios__label" for="concern-irregularity">
                    Irregularity
                  </label>
                </div>
      
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-5">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-irregularity-1" name="concernSubType" type="radio" value="irregularity-allegations">
                        <label class="govuk-label govuk-radios__label" for="concern-irregularity-1">
                          Irregularity: Allegations and self reported concerns
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-irregularity-2" name="concernSubType" type="radio" value="irregularity-related-party-transactions">
                        <label class="govuk-label govuk-radios__label" for="concern-irregularity-2">
                          Irregularity: Related party transactions - in year
                        </label>
                      </div>

                    </div>

                  </div>

              </div>

            </fieldset>
          </div>

          <!-- Q Risk rating -->
          <div class="govuk-form-group govuk-!-margin-top-6">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-heading-m">
                Select concern risk rating
              </legend>

              <!--Risk rating radios-->
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="amberGreen">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="redAmber">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="red">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__red">Red</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="redPlus">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

          <!-- Q Direction of travel -->
          <div hidden class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-heading-m">
                Direction of travel
              </legend>

              <!--Direction of travel radios-->
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="directionOfTravel" id="direction" name="directionOfTravel" type="radio" value="improving">
                  <label class="govuk-label govuk-radios__label" for="direction">
                    Improving
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="directionOfTravel" id="direction" name="directionOfTravel" type="radio" value="unchanged">
                  <label class="govuk-label govuk-radios__label" for="direction">
                    Unchanged
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="directionOfTravel" id="direction" name="directionOfTravel" type="radio" value="deteriorating" checked>
                  <label class="govuk-label govuk-radios__label" for="direction">
                    Deteriorating
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

          <!-- Buttons -->
            <div class="govuk-button-group govuk-!-margin-top-9">
            {{ govukButton({
                text: "Add to case"
            }) }}
            <a class="govuk-link" href="homepage">Cancel</a>
            </div>

        </form>

      </div>

    </div>
  </div>
  {% endblock %}

</body>

</html>
