<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}

  {% block content %}
  {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Create case</span>
            <h1 class="govuk-heading-l">Concerns</h1>
        </div>

        <div class="grid-column-full-width">
        
            <!-- Trust details -->
            <dl class="govuk-summary-list">
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Trust</dt>
                    <dd class="govuk-summary-list__value">
                        {{ trust.trust_name }} ({{ trust.region }})
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Change trust</a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">

                    <dt class="govuk-summary-list__key">Concerns</dt>
                    <dd class="govuk-summary-list__value">

                        <div>
                            {% if data['concernSubType'] == 'compliance-financial-reporting' %}
                            <span class="caseDetail_type">Compliance: Financial reporting</span>
                            {% elif data['concernSubType'] == 'compliance-financial-returns' %}
                            <span class="caseDetail_type">Compliance: Financial returns</span>
                            {% elif data['concernSubType'] == 'financial-deficit' %}
                            <span class="caseDetail_type">Financial: Deficit</span>
                            {% elif data['concernSubType'] == 'financial-projected-deficit' %}
                            <span class="caseDetail_type">Financial: Projected deficit / Low future surplus</span>
                            {% elif data['concernSubType'] == 'financial-cash-flow-shortfall' %}
                            <span class="caseDetail_type">Financial: Cash flow shortfall</span>
                            {% elif data['concernSubType'] == 'financial-clawback' %}
                            <span class="caseDetail_type">Financial: Clawback</span>
                            {% elif data['concernType'] == 'force-majeure' %}
                            <span class= "caseDetail_type">Force Majeure</span>
                            {% elif data['concernSubType'] == 'governance-governance' %}
                            <span class="caseDetail_type">Governance: Governance</span>
                            {% elif data['concernSubType'] == 'governance-closure' %}
                            <span class= "caseDetail_type">Governance: Closure</span>
                            {% elif data['concernSubType'] == 'governance-executive-pay' %}
                            <span class="caseDetail_type">Governance: Executive Pay</span>
                            {% elif data['concernSubType'] == 'governance-safeguarding' %}
                            <span class="caseDetail_type">Governance: Safeguarding</span>
                            {% elif data['concernSubType'] == 'irregularity-allegations' %}
                            <span class="caseDetail_type">Iregularity: Allegations</span>
                            {% elif data['concernSubType'] == 'irregularity-related-party-transactions' %}
                            <span class="caseDetail_type">Irregularity: Related party transactions - in year</span>
                            {% endif %}

                            {% if data['riskType'] == 'amberGreen' %}
                            <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
                            {% elif data['riskType'] == 'redAmber' %}
                            <span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
                            {% elif data['riskType'] == 'red' %}
                            <span class="govuk-tag ragtag ragtag__red">Red</span>
                            {% elif data['riskType'] == 'redPlus' %}
                            <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
                            {% endif %}
                        </div>

                        <div class="concernListing">
                            {% if data['concernSubTypeTwo'] == 'compliance-financial-reporting' %}
                            <span class="caseDetail_type">Compliance: Financial reporting</span>
                            {% elif data['concernSubTypeTwo'] == 'compliance-financial-returns' %}
                            <span class="caseDetail_type">Compliance: Financial returns</span>
                            {% elif data['concernSubTypeTwo'] == 'financial-deficit' %}
                            <span class="caseDetail_type">Financial: Deficit</span>
                            {% elif data['concernSubTypeTwo'] == 'financial-projected-deficit' %}
                            <span class="caseDetail_type">Financial: Projected deficit / Low future surplus</span>
                            {% elif data['concernSubTypeTwo'] == 'financial-cash-flow-shortfall' %}
                            <span class="caseDetail_type">Financial: Cash flow shortfall</span>
                            {% elif data['concernSubTypeTwo'] == 'financial-clawback' %}
                            <span class="caseDetail_type">Financial: Clawback</span>
                            {% elif data['concernType'] == 'force-majeure' %}
                            <span class= "caseDetail_type">Force Majeure</span>
                            {% elif data['concernSubTypeTwo'] == 'governance-governance' %}
                            <span class="caseDetail_type">Governance: Governance</span>
                            {% elif data['concernSubTypeTwo'] == 'governance-closure' %}
                            <span class= "caseDetail_type">Governance: Closure</span>
                            {% elif data['concernSubTypeTwo'] == 'governance-executive-pay' %}
                            <span class="caseDetail_type">Governance: Executive Pay</span>
                            {% elif data['concernSubTypeTwo'] == 'governance-safeguarding' %}
                            <span class="caseDetail_type">Governance: Safeguarding</span>
                            {% elif data['concernSubTypeTwo'] == 'irregularity-allegations' %}
                            <span class="caseDetail_type">Iregularity: Allegations</span>
                            {% elif data['concernSubTypeTwo'] == 'irregularity-related-party-transactions' %}
                            <span class="caseDetail_type">Irregularity: Related party transactions - in year</span>
                            {% endif %}

                            {% if data['riskTypeTwo'] == 'amberGreen' %}
                            <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
                            {% elif data['riskTypeTwo'] == 'redAmber' %}
                            <span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
                            {% elif data['riskTypeTwo'] == 'red' %}
                            <span class="govuk-tag ragtag ragtag__red">Red</span>
                            {% elif data['riskTypeTwo'] == 'redPlus' %}
                            <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
                            {% endif %}
                        </div>

                    </dd>

                    <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Edit</a>
                    </dd>

                </div>

            </dl>
        </div>

        <div class="govuk-grid-column-two-thirds">

            <!-- Buttons -->
            <div class="govuk-button-group govuk-!-margin-top-6">
            {{ govukButton({
                text: "Next step",
                href: "new_case_details_001"
            }) }}
            {{ govukButton({
                text: "Add another concern",
                classes: "govuk-button--secondary",
                href: "new_case_concerns_003"
            }) }}
            <a class="govuk-link" href="homepage">Cancel</a>
            </div>

        </div>

      </div>

    </div>
  </div>
  {% endblock %}

</body>

</html>
