<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}

  {% block content %}
  {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">Create case</span>
            <h1 class="govuk-heading-l">Trust risk</h1>
        </div>

        <div class="grid-column-full-width">
        
            <!-- Trust details -->
            <dl class="govuk-summary-list">
                
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Trust</dt>
                    <dd class="govuk-summary-list__value">
                        {{ trust.trust_name }} ({{ trust.region }})
                        </br>{{ trust.address }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Change trust</a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Concerns</dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['concernSubType'] == 'compliance-financial-reporting' %}
                        <span class="caseDetail_type">Compliance: Financial reporting</span>
                        {% elif data['concernSubType'] == 'compliance-financial-returns' %}
                        <span class="caseDetail_type">Compliance: Financial returns</span>
                        {% elif data['concernSubType'] == 'financial-deficit' %}
                        <span class="caseDetail_type">Financial: Deficit</span>
                        {% elif data['concernSubType'] == 'financial-projected-deficit' %}
                        <span class="caseDetail_type">Financial: Projected deficit / Low future surplus</span>
                        {% elif data['concernSubType'] == 'financial-cash-flow-shortfall' %}
                        <span class="caseDetail_type">Financial: Cash flow shortfall</span>
                        {% elif data['concernSubType'] == 'financial-clawback' %}
                        <span class="caseDetail_type">Financial: Clawback</span>
                        {% elif data['concernType'] == 'force-majeure' %}
                        <span class= "caseDetail_type">Force Majeure</span>
                        {% elif data['concernSubType'] == 'governance-governance' %}
                        <span class="caseDetail_type">Governance: Governance</span>
                        {% elif data['concernSubType'] == 'governance-closure' %}
                        <span class= "caseDetail_type">Governance: Closure</span>
                        {% elif data['concernSubType'] == 'governance-executive-pay' %}
                        <span class="caseDetail_type">Governance: Executive Pay</span>
                        {% elif data['concernSubType'] == 'governance-safeguarding' %}
                        <span class="caseDetail_type">Governance: Safeguarding</span>
                        {% elif data['concernSubType'] == 'irregularity-allegations' %}
                        <span class="caseDetail_type">Iregularity: Allegations</span>
                        {% elif data['concernSubType'] == 'irregularity-related-party-transactions' %}
                        <span class="caseDetail_type">Irregularity: Related party transactions - in year</span>
                        {% endif %}

                         {% if data['riskType'] == 'amberGreen' %}
                        <div class="tag-block"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></div>
                        {% elif data['riskType'] == 'redAmber' %}
                        <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></div>
                        {% elif data['riskType'] == 'red' %}
                        <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span></div>
                        {% elif data['riskType'] == 'redPlus' %}
                        <div class="tag-block"><span class="govuk-tag ragtag ragtag__redplus">Red Plus</span></div>
                        {% endif %}
                    </dd>

                    <dd class="govuk-summary-list__actions">
                    <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Edit</a>
                    </dd>
                </div>

            </dl>
        </div>

        <div class="govuk-grid-column-two-thirds">

            <form action="new_case_details_001" class="form" method="post">

                <!-- Q Risk rating -->
                <div class="govuk-form-group govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset">

                    <legend class="govuk-heading-m">
                        What is the risk to the trust?
                    </legend>

                    <div class="govuk-hint" id="case-issue-hint">
                        Use the <a href="/public/docs/Risk_Management_Framework.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">Risk Management Framework (opens in new tab)</a> to assess the risk to the trust.
                    </div>

                    <!--Risk rating radios-->
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-aria-controls="trustRisk" id="trustRiskRating" name="trustRisk" type="radio" value="amberGreen">
                        <label class="govuk-label govuk-radios__label" for="trustRiskRating">
                            <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-aria-controls="trustRisk" id="trustRiskRating" name="trustRisk" type="radio" value="redAmber">
                        <label class="govuk-label govuk-radios__label" for="trustRiskRating">
                            <span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-aria-controls="trustRisk" id="trustRiskRating" name="trustRisk" type="radio" value="red">
                        <label class="govuk-label govuk-radios__label" for="trustRiskRating">
                            <span class="govuk-tag ragtag ragtag__red">Red</span>
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-aria-controls="trustRisk" id="trustRiskRating" name="trustRisk" type="radio" value="redPlus">
                        <label class="govuk-label govuk-radios__label" for="trustRiskRating">
                            <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
                        </label>
                        </div>

                    </div>

                    </fieldset>
                </div>

                <!-- Q Direction of travel -->
                <div hidden class="govuk-form-group govuk-!-margin-top-9">
                    <fieldset class="govuk-fieldset">

                    <legend class="govuk-heading-m">
                        Direction of travel
                    </legend>

                    <!--Direction of travel radios-->
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-aria-controls="directionOfTravel" id="direction" name="directionOfTravel" type="radio" value="improving">
                        <label class="govuk-label govuk-radios__label" for="direction">
                            Improving
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-aria-controls="directionOfTravel" id="direction" name="directionOfTravel" type="radio" value="unchanged">
                        <label class="govuk-label govuk-radios__label" for="direction">
                            Unchanged
                        </label>
                        </div>

                        <div class="govuk-radios__item">
                        <input class="govuk-radios__input" data-aria-controls="directionOfTravel" id="direction" name="directionOfTravel" type="radio" value="deteriorating" checked>
                        <label class="govuk-label govuk-radios__label" for="direction">
                            Deteriorating
                        </label>
                        </div>

                    </div>

                    </fieldset>
                </div>

                <!-- Buttons -->
                <div class="govuk-button-group govuk-!-margin-top-9">
                {{ govukButton({
                    text: "Next step"
                }) }}
                <a class="govuk-link" href="homepage">Cancel</a>
                </div>

            </form>

        </div>

      </div>

    </div>
  </div>
  {% endblock %}

</body>

</html>
