{% extends "layout.html" %}
{% set navActive = "home" %}

{% block beforeContent %}
{% if data['autocompleted-incoming-trust-id'] %}
<a class="govuk-back-link" href="/concerns/add-academies.html">Back</a>
{% else %}
<a class="govuk-back-link"
    href="outgoing-trust-search.html?outgoing-trust-search-query{{ data['outgoing-trust-search-query'] }}">Back</a>
{% endif %}
{% endblock %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}
{% set outgoingAcademy = data['trusts'] | getTrustById(data['outgoing-trust-id']) | getAcademiesByIds(data['outgoing-academies']) | first %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Check trust and academy details</h1>
            <h2 class="govuk-heading-m">Trust name</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.trust_name }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="trust-name.html">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Trust Reference Number</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingTrust.trust_reference_number }}</dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
            </dl>

            <h2 class="govuk-heading-m">Academy details</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Name</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingAcademy.academy_name }}</dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="add-academies.html">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">URN</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingAcademy.urn }}</dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Local authority</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingAcademy.local_authority_name }}</dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">School type</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingAcademy.establishment_type }}</dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Faith school</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingAcademy.religious_character }}</dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Ofsted rating</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingAcademy.ofsted_rating }}</dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Last inspection</dt>
                    <dd class="govuk-summary-list__value">{{ outgoingAcademy.ofsted_inspection_date | dateToGovukDate }}
                    </dd>
                    <dd class="govuk-summary-list__value"></dd>
                </div>

                <!--                   <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">PFI (private finance initiative)</dt>
                        {% if outgoingAcademy.pfi %}
                            <dd class="govuk-summary-list__value">{{ outgoingAcademy.pfi }}Does not apply</dd>
                        {% else %}
                            <dd class="govuk-summary-list__value">Does not apply</dd>
                        {% endif %}
                        <dd class="govuk-summary-list__value"></dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Incoming trust</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">
                            {{ incomingTrust.trust_name }}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="incoming.html">
                                Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
 -->
            </dl>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body" style="border-left: 5px solid red; padding-left: 10px;">
                        Before you create the case make sure the correct trust and academy have been selected.
                        Assign the case to a caseworker, and a unique case identifier number will be created for this
                        case.
                    </p>
                </div>
            </div>

            <form action="/concerns/elements/case-overview" method="post" class="form">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                        Assign case to:
                    </label>
                    <select class="govuk-select" id="assigned" name="assigned"
                        {{ checked("assigned", "Nikolaos Gkionis") }}>
                        <option value="Nikolaos Gkionis" selected>My self</option>
                        <option value="Jonathan Briggs">Jonathan Briggs</option>
                        <option value="Harry Miles">Harry Miles</option>
                        <option value="Harry Miles">Sharon Morris</option>
                        <option value="Harry Miles">Faye Rumsen</option>
                    </select>
                </div>
            </form>

            <a href="/concerns/create-case.html" role="button" draggable="false"
                class="govuk-button govuk-!-margin-top-6">
                Create case
            </a>
        </div>
    </div>
</div>
{% endblock %}