<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}
  
  {% block beforeContent %}
    {% if data['autocompleted-outgoing-trust-id'] %}
    <a class="govuk-back-link" href="/concerns/new-case.html">Back</a>
  {% else %}
  <a class="govuk-back-link" href="/concerns/outgoing-trust-search.html?outgoing-trust-search-query={{ data['outgoing-trust-search-query'] }}">Back</a>
  {% endif %}
  {% endblock %}
  
  {% block content %}
  {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">New case</h1>
        
        <!-- Trust details -->
        <h2 class="govuk-heading-m">Trust details</h2>

        <dl class="govuk-summary-list">
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">
                  {{ trust.trust_name }}
              </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type</dt>
            <dd class="govuk-summary-list__value">{{ trust.establishment_type }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address</dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ trust.address | trustAddressToHtml | safe }}</p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Region</dt>
              <dd class="govuk-summary-list__value">{{ trust.region }}</dd>
          </div>
          
        </dl>

        <!-- FORM -->
        <form action="/concerns/management/" class="form" method="post">

          <h2 class="govuk-heading-m govuk-!-margin-top-9">Case setup</h2>

          <!-- Q Concern -->
          <div class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                Is this a Concern?
              </legend>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concern-wut-1" id="concern-yes" name="concern-wut" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="concern-yes">
                    Yes
                  </label>
                </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concern-wut-1">
                      
                      <div class="govuk-form-group">

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-1" name="concern-wut-1" type="radio" value="Compliance: Financial reporting">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-1">
                            Compliance: Financial reporting
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-2" name="concern-wut-1" type="radio" value="Compliance: Financial returns">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-2">
                            Compliance: Financial returns
                          </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-3" name="concern-wut-1" type="radio" value="Financial: Deficit">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-3">
                            Financial: Deficit
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-4" name="concern-wut-1" type="radio" value="Financial: Projected deficit / Low future surplus">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-4">
                            Financial: Projected deficit / Low future surplus
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-5" name="concern-wut-1" type="radio" value="Financial: Cash flow shortfall">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-5">
                            Financial: Cash flow shortfall
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-6" name="concern-wut-1" type="radio" value="Financial: Clawback">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-6">
                            Financial: Clawback
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-7" name="concern-wut-1" type="radio" value="Force Majeure">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-7">
                            Force Majeure
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-8" name="concern-wut-1" type="radio" value="Governance">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-8">
                            Governance
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-9" name="concern-wut-1" type="radio" value="Governance: Closure">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-9">
                            Governance: Closure
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-10" name="concern-wut-1" type="radio" value="Governance: Executive pay">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-10">
                            Governance: Executive pay
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-11" name="concern-wut-1" type="radio" value="Governance: Safeguarding">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-11">
                            Governance: Safeguarding
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-12" name="concern-wut-1" type="radio" value="Irregularity: Allegations and self reported concerns">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-12">
                            Irregularity: Allegations and self reported concerns
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-13" name="concern-wut-1" type="radio" value="Irregularity: Related party transactions - in year">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-13">
                            Irregularity: Related party transactions - in year
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="concern-yes-14" name="concern-wut-1" type="radio" value="Safeguarding Incident">
                          <label class="govuk-label govuk-radios__label" for="concern-yes-14">
                            Safeguarding Incident
                          </label>
                        </div>

                      </div>

                    </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="concern-no" name="concern-wut" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="concern-no">
                    No
                  </label>
                </div>
                
              </div>

            </fieldset>
          </div>
        
          <!-- Q Risk rating -->
          <div class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                If it is a Concern, what is the risk rating?
              </legend>
              <div class="govuk-hint" id="case-issue-hint">
                Use the <a href="/public/docs/Risk_Management_Framework.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">Risk Management Framework (opens in new tab)</a> to assess the Concern RAG rating
              </div>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblower-wut" id="whistleblower-yes" name="whistleblower-wut" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-yes">
                    <span class="govuk-tag ragtag ragtag__ambergreen">Amber | Green</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblower-wut" id="whistleblower-yes" name="whistleblower-wut" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-yes">
                    <span class="govuk-tag ragtag ragtag__redamber">Red | Amber</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblower-wut" id="whistleblower-yes" name="whistleblower-wut" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-yes">
                    <span class="govuk-tag ragtag ragtag__red">Red</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblower-wut" id="whistleblower-yes" name="whistleblower-wut" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-yes">
                    <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
                  </label>
                </div>

              </div>

            </fieldset>
          </div>          

          <!-- Q Issue -->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="500">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="issue-detail">
                Issue
              </label>
              <textarea class="govuk-textarea govuk-js-character-count" id="issue-detail" name="issue-detail" rows="5" aria-describedby="issue-detail-info"></textarea>
            </div>
          
            <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 500 characters
            </div>
          
          </div>

          <!-- Q Current status -->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="500">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="case-status">
                Current status <span class="govuk-body">(optional)</span>
              </label>
              <textarea class="govuk-textarea govuk-js-character-count" id="case-status" name="current-status-detail" rows="5" aria-describedby="case-status-info"></textarea>
            </div>
          
            <div id="case-status-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 500 characters
            </div>
          
          </div> 

          <!-- Q Next steps -->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="500">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="next-steps-detail">
                Next steps <span class="govuk-body">(optional)</span>
              </label>
              <textarea class="govuk-textarea govuk-js-character-count" id="next-steps-detail" name="next-steps-detail" rows="5" aria-describedby="next-steps-detail-info"></textarea>
            </div>
          
            <div id="next-steps-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 500 characters
            </div>
          
          </div>  

          <!-- Q Resolution strategy-->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="1000">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="resolution-strategy">
                Resolution strategy <span class="govuk-body">(optional)</span>
              </label>
              <textarea class="govuk-textarea govuk-js-character-count" id="resolution-strategy" name="resolution-strategy-detail" rows="10" aria-describedby="resolution-strategy-info"></textarea>
            </div>
          
            <div id="resolution-strategy-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 1000 characters
            </div>
          
          </div>
          
          <!-- Q Whistleblower-->
          <div class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                Was this raised by a whistleblower?
              </legend>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblower-wut" id="whistleblower-yes" name="whistleblower-wut" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-yes">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblower-wut" id="whistleblower-no" name="whistleblower-wut" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-no">
                    No
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

          <!-- Q Assign to -->
          <div class="govuk-form-group govuk-!-margin-top-9">
            
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                Assign case to
              </legend>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                
                <div class="govuk-radios__item">
                  <input checked="checked" class="govuk-radios__input" id="assign-myself" name="assign-wut" type="radio" value="Myself">
                  <label class="govuk-label govuk-radios__label" for="assign-myself">
                    Myself
                  </label>
                </div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="assign-wut-2" id="assign-colleague" name="assign-wut" type="radio" value="Colleague">
                  <label class="govuk-label govuk-radios__label" for="assign-colleague">
                    Colleague
                  </label>
                </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="assign-wut-2">
                      
                      <div class="govuk-form-group">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-1" name="assign-wut-2" type="radio" value="Carlotta Carlyle">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-1">
                            Carlotta Carlyle
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-2" name="assign-wut-2" type="radio" value="Eddie Shoestring">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-2">
                            Eddie Shoestring
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-3" name="assign-wut-2" type="radio" value="Harry Dresden">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-3">
                            Harry Dresden
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-4" name="assign-wut-2" type="radio" value="Jessica Jones">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-4">
                            Jessica Jones
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-5" name="assign-wut-2" type="radio" value="Veronica Mars">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-5">
                            Veronica Mars
                          </label>
                        </div>

                      </div>

                    </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="assign-wut-3" id="assign-region" name="assign-wut" type="radio" value="Region">
                  <label class="govuk-label govuk-radios__label" for="assign-region">
                    Territory
                  </label>
                </div>
      
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="assign-wut-3">
                      
                      <div class="govuk-form-group">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-1" name="assign-wut-3" type="radio" value="NWLSC">
                          <label class="govuk-label govuk-radios__label" for="assign-region-1">
                            NWLSC
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-2" name="assign-wut-3" type="radio" value="EENEL">
                          <label class="govuk-label govuk-radios__label" for="assign-region-2">
                            EENEL
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-3" name="assign-wut-3" type="radio" value="SW">
                          <label class="govuk-label govuk-radios__label" for="assign-region-3">
                            SW
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-4" name="assign-wut-3" type="radio" value="SESL">
                          <label class="govuk-label govuk-radios__label" for="assign-region-4">
                            SESL
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-5" name="assign-wut-3" type="radio" value="WM">
                          <label class="govuk-label govuk-radios__label" for="assign-region-5">
                            WM
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-3" name="assign-wut-3" type="radio" value="EMH">
                          <label class="govuk-label govuk-radios__label" for="assign-region-3">
                            EMH
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-4" name="assign-wut-3" type="radio" value="N">
                          <label class="govuk-label govuk-radios__label" for="assign-region-4">
                            N
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-5" name="assign-wut-3" type="radio" value="l&WY">
                          <label class="govuk-label govuk-radios__label" for="assign-region-5">
                            L&WY
                          </label>
                        </div>
  
                      </div>
  
                    </div>

              </div>

            </fieldset>
          </div>
          
          <!-- Form submit -->
          <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
            Create case
          </button>
            
        </form>

      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>
