<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}
  
  {% block content %}
  {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Create case</span>
        <h1 class="govuk-heading-l">Concern </h1>
        
        <!-- Trust details -->
        <a href="/concerns/new-case.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-top-6" style="float:right;">Change trust</a>
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Trust details</h2>

        <dl class="govuk-summary-list">
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">
                  {{ trust.trust_name }}
              </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type</dt>
            <dd class="govuk-summary-list__value">{{ trust.establishment_type }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address</dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ trust.address | trustAddressToHtml | safe }}</p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Region</dt>
              <dd class="govuk-summary-list__value">{{ trust.region }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Companies House</dt>
            <dd class="govuk-summary-list__value"><a href="#">{{ trust.companies_house }}</a></dd>
          </div>
          
        </dl>

        <!-- FORM -->
        <form action="/concerns/management/" class="form" method="post">

          <!-- Q Whistleblower-->
          <div class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-heading-s govuk-!-font-weight-bold">
                Was this raised by a whistleblower?
              </legend>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblowerWut-yes" id="whistleblower-yes" name="whistleblowerWut" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-yes">
                    Yes
                  </label>
                </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="whistleblowerWut-yes">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="whistleblower-detail">
                        Details
                      </label>
                      <textarea class="govuk-textarea" id="whistleblower-detail" name="whistleblower-detail" rows="6"></textarea>
                    </div>
                  </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="whistleblowerWut-no" id="whistleblower-no" name="whistleblowerWut" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="whistleblower-no">
                    No
                  </label>
                </div>

              </div>

            </fieldset>
          </div>

          <!--Q Concern type-->
          <div class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset">
      
              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                  Select the Primary Concern type
              </legend>

              <div class="govuk-hint" id="case-issue-hint">
                Use the <a href="/public/docs/Risk_Management_Framework.pdf" class="govuk-link" rel="noreferrer noopener" target="_blank">Risk Management Framework (opens in new tab)</a> to assess the type of Concern
              </div>

              <!--Concern radios-->
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <!--Compliance-->  
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-1" id="concern-compliance" name="concernType" type="radio" value="compliance">
                  <label class="govuk-label govuk-radios__label" for="concern-compliance">
                    Compliance
                  </label>
                </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-1">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-compliance-1" name="concernSubType" type="radio" value="compliance-financial-reporting">
                        <label class="govuk-label govuk-radios__label" for="concern-compliance-1">
                          Compliance: Financial reporting
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-compliance-2" name="concernSubType" type="radio" value="compliance-financial-returns">
                        <label class="govuk-label govuk-radios__label" for="concern-compliance-2">
                          Compliance: Financial returns
                        </label>
                      </div>

                    </div>

                  </div>

                <!--Finance-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-2" id="concern-financial" name="concernType" type="radio" value="financial">
                  <label class="govuk-label govuk-radios__label" for="concern-financial">
                    Financial
                  </label>
                </div>
      
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-2">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-1" name="concernSubType" type="radio" value="financial-deficit">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-1">
                          Financial: Deficit
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-2" name="concernSubType" type="radio" value="financial-projected-deficit">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-2">
                          Financial: Projected deficit / Low future surplus
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-3" name="concernSubType" type="radio" value="financial-cash-flow-shortfall">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-3">
                          Financial: Cash flow shortfall
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-financial-4" name="concernSubType" type="radio" value="financial-clawback">
                        <label class="govuk-label govuk-radios__label" for="concern-financial-4">
                          Financial: Clawback
                        </label>
                      </div>

                    </div>

                  </div>
                  
                <!--Force Majure-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-3" id="concern-force-majeure" name="concernType" type="radio" value="force-majeure">
                  <label class="govuk-label govuk-radios__label" for="concern-force-majeure">
                    Force Majeure
                  </label>
                </div>

                <!--Governance-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-4" id="concern-governance" name="concernType" type="radio" value="governance">
                  <label class="govuk-label govuk-radios__label" for="concern-governance">
                    Governance
                  </label>
                </div>
      
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-4">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-1" name="concernSubType" type="radio" value="governance-governance">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-1">
                          Governance: Governance
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-2" name="concernSubType" type="radio" value="governance-closure">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-2">
                          Governance: Closure
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-3" name="concernSubType" type="radio" value="governance-executive-pay">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-3">
                          Governance: Executive Pay
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-governance-4" name="concernSubType" type="radio" value="governance-safeguarding">
                        <label class="govuk-label govuk-radios__label" for="concern-governance-4">
                          Governance: Safeguarding
                        </label>
                      </div>

                    </div>

                  </div>

                <!--Irregularity-->
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="concernType-5" id="concern-irregularity" name="concernType" type="radio" value="irregularity">
                  <label class="govuk-label govuk-radios__label" for="concern-irregularity">
                    Irregularity
                  </label>
                </div>
      
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="concernType-5">
                    
                    <div class="govuk-form-group">

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-irregularity-1" name="concernSubType" type="radio" value="irregularity-allegations">
                        <label class="govuk-label govuk-radios__label" for="concern-irregularity-1">
                          Irregularity: Allegations and self reported concerns
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="concern-irregularity-2" name="concernSubType" type="radio" value="irregularity-related-party-transactions">
                        <label class="govuk-label govuk-radios__label" for="concern-irregularity-2">
                          Irregularity: Related party transactions - in year
                        </label>
                      </div>

                    </div>

                  </div>

              </div>

            </fieldset>
          </div>

          <!-- Q Risk rating -->
          <div class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                What is the risk rating?
              </legend>

              <!--Risk rating radios-->
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="amberGreen">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="redAmber">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="red">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__red">Red</span>
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="riskType" id="riskRating" name="riskType" type="radio" value="redPlus">
                  <label class="govuk-label govuk-radios__label" for="riskRating">
                    <span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
                  </label>
                </div>

              </div>

            </fieldset>
          </div>
          
          <!-- Q Issue -->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="1000">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="issue-detail">
                Issue
              </label>
              <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info"></textarea>
            </div>
          
            <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 1000 characters
            </div>
          
          </div>

          <!-- Q Current status -->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="1000">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="case-status">
                Current status <span class="govuk-body">(optional)</span>
              </label>
              <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="case-status" name="current-status-detail" rows="3" aria-describedby="case-status-info"></textarea>
            </div>
          
            <div id="case-status-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 1000 characters
            </div>
          
          </div> 

          <!-- Q Next steps -->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="1000">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="next-steps-detail">
                Next steps <span class="govuk-body">(optional)</span>
              </label>
              <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="next-steps-detail" name="next-steps-detail" rows="3" aria-describedby="next-steps-detail-info"></textarea>
            </div>
          
            <div id="next-steps-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 1000 characters
            </div>
          
          </div>  

          <!-- Q Resolution strategy-->
          <div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="1000">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="resolution-strategy">
                Case resolution <span class="govuk-body">(optional)</span>
              </label>
              <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="resolution-strategy" name="resolution-strategy-detail" rows="3" aria-describedby="resolution-strategy-info"></textarea>
            </div>
          
            <div id="resolution-strategy-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 1000 characters
            </div>
          
          </div>

          <!--Date
          <div class="govuk-form-group govuk-!-margin-top-9">
            <fieldset class="govuk-fieldset" role="group">
              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                Date created
              </legend>
              <div class="govuk-date-input" id="dateCreated">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dateCreatedDay">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateCreatedDay" name="dateCreatedDay" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dateCreatedMonth">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateCreatedMonth" name="dateCreatedMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="dateCreatedYear">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateCreatedYear" name="dateCreatedYear" type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>-->

          <!-- Q Assign to -->
          <div class="govuk-form-group govuk-!-margin-top-9">
            
            <fieldset class="govuk-fieldset">

              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                Assign case to
              </legend>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                
                <div class="govuk-radios__item">
                  <input checked="checked" class="govuk-radios__input" id="assign-myself" name="assign-wut" type="radio" value="Myself">
                  <label class="govuk-label govuk-radios__label" for="assign-myself">
                    Myself
                  </label>
                </div>
                
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="assign-wut-2" id="assign-colleague" name="assign-wut" type="radio" value="Colleague">
                  <label class="govuk-label govuk-radios__label" for="assign-colleague">
                    Colleague
                  </label>
                </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="assign-wut-2">
                      
                      <div class="govuk-form-group">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-1" name="assign-wut-2" type="radio" value="Carlotta Carlyle">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-1">
                            Carlotta Carlyle
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-2" name="assign-wut-2" type="radio" value="Eddie Shoestring">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-2">
                            Eddie Shoestring
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-3" name="assign-wut-2" type="radio" value="Harry Dresden">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-3">
                            Harry Dresden
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-4" name="assign-wut-2" type="radio" value="Jessica Jones">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-4">
                            Jessica Jones
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-colleague-5" name="assign-wut-2" type="radio" value="Veronica Mars">
                          <label class="govuk-label govuk-radios__label" for="assign-colleague-5">
                            Veronica Mars
                          </label>
                        </div>

                      </div>

                    </div>
                <!--
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" data-aria-controls="assign-wut-3" id="assign-region" name="assign-wut" type="radio" value="Region">
                  <label class="govuk-label govuk-radios__label" for="assign-region">
                    Territory
                  </label>
                </div>
      
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="assign-wut-3">
                      
                      <div class="govuk-form-group">
                        
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-1" name="assign-wut-3" type="radio" value="NWLSC">
                          <label class="govuk-label govuk-radios__label" for="assign-region-1">
                            NWLSC
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-2" name="assign-wut-3" type="radio" value="EENEL">
                          <label class="govuk-label govuk-radios__label" for="assign-region-2">
                            EENEL
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-3" name="assign-wut-3" type="radio" value="SW">
                          <label class="govuk-label govuk-radios__label" for="assign-region-3">
                            SW
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-4" name="assign-wut-3" type="radio" value="SESL">
                          <label class="govuk-label govuk-radios__label" for="assign-region-4">
                            SESL
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-5" name="assign-wut-3" type="radio" value="WM">
                          <label class="govuk-label govuk-radios__label" for="assign-region-5">
                            WM
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-3" name="assign-wut-3" type="radio" value="EMH">
                          <label class="govuk-label govuk-radios__label" for="assign-region-3">
                            EMH
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-4" name="assign-wut-3" type="radio" value="N">
                          <label class="govuk-label govuk-radios__label" for="assign-region-4">
                            N
                          </label>
                        </div>
  
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="assign-region-5" name="assign-wut-3" type="radio" value="l&WY">
                          <label class="govuk-label govuk-radios__label" for="assign-region-5">
                            L&WY
                          </label>
                        </div>
  
                      </div>
  
                    </div>-->

              </div>

            </fieldset>
          </div>

          <!--Create case-->
          <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
            Create case
          </button>

          <!--Grab today's date
          <script>
            let currentDate = new Date();
            let dateCreatedDay = currentDate.getDate()
            let dateCreatedMonth = currentDate.getMonth() + 1
            let dateCreatedYear = currentDate.getFullYear()
            document.querySelector("#dateCreatedDay").value = dateCreatedDay;
            document.querySelector("#dateCreatedMonth").value = dateCreatedMonth;
            document.querySelector("#dateCreatedYear").value = dateCreatedYear;
          </script>-->

          <!--Auto resize textareas-->
          <script>
            var multipleFields=document.querySelectorAll('.auto-resize');
            for(var i=0; i<multipleFields.length; i++){
            multipleFields[i].addEventListener('input',autoResizeHeight,0);
            }
            // auto resize multiple textarea
            function autoResizeHeight(){
              this.style.height="auto";
              this.style.height= this.scrollHeight+"px";
              this.style.borderColor="green";
            }
          </script>

        </form>

      </div>
    </div>
  </div>
  {% endblock %}

</body>

</html>
