<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}
  
  {% block content %}
  {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">New case</h1>
        
        <!-- Trust details -->
        <a href="/concerns/new-case.html" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" style="float:right;">Change trust</a>
        <h2 class="govuk-heading-m">Trust details</h2>

        <dl class="govuk-summary-list">
          
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">
                  {{ trust.trust_name }}
              </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Type</dt>
            <dd class="govuk-summary-list__value">{{ trust.establishment_type }}</dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address</dt>
            <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ trust.address | trustAddressToHtml | safe }}</p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Region</dt>
              <dd class="govuk-summary-list__value">{{ trust.region }}</dd>
          </div>
          
        </dl>

        <!-- FORM -->
        <form action="" class="form govuk-!-margin-top-9" onsubmit="return doSubmit(this)">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="is-this-a-concern">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Is this a Concern?
                </h1>
              </legend>
              
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="concern1" name="concern" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="concern1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="concern2" name="concern" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="concern2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <!-- Form submit -->
          <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="btn">
            Next
          </button>
            
        </form>

        <script>
            document.getElementById('concern1').checked
        </script>

        <script>
            const btn = document.querySelector('#btn');
            // handle click button
            btn.onclick = function () {
                const rbs = document.querySelectorAll('input[name="concern"]');
                let selectedValue;
                for (const rb of rbs) {
                    if (rb.checked) {
                        selectedValue = rb.value;
                        break;
                    }
                }
                alert(selectedValue);
            };
        </script>

      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>
