{% extends "layout.html" %}

{% block beforeContent %}
  {{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% block content %}



        <div class="govuk-grid-column-full-extra">

        <h2 class="govuk-hint"> Trust Overview </h2>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Woodbrook Vale School</h1>


<section>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Trust
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#details">
        Details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#governance">
       Governance
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#academies">
        Academies (1)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#contacts">
        SDD Contacts
      </a>
    </li>
  </ul>

  <div class="govuk-tabs__panel" id="details">
    
  <table class="govuk-table">
      
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">URN</td>
          <td class="govuk-table__header">137401</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Contact</td>
          <td class="govuk-table__header">Mark Hopper (Chair)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">UID</td>
          <td class="govuk-table__header">6333</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Telephone</td>
          <td class="govuk-table__header">12345 67890</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Type</td>
          <td class="govuk-table__header">Single Academy Trust</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Email</td>
          <td class="govuk-table__header">m.hopper@woodbrookvale.leics.sch.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Number of Academies</td>
          <td class="govuk-table__header">1</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Website</td>
          <td class="govuk-table__header">woodbrookvale.leics.sch.uk</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Local Authority</td>
          <td class="govuk-table__header">Leicestershire</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">Address</td>
          <td class="govuk-table__header">Woodbrook Vale School,<td>
        </tr>
        <tr class="govuk-table__row">
         <td class="govuk-table__cell">Lead team</td>
          <td class="govuk-table__header">Central</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__header">Grasmere Road, Loughborough, <br> Leicestershire, LE11 2ST</td>
        </tr>
      </tbody>
    </table>

  </div>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="governance">
    
    
  </div>

<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="academies">
    
  <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">UPIN</th>
          <th scope="col" class="govuk-table__header">UKPRN</th>
          <th scope="col" class="govuk-table__header">Headteacher</th>
          <th scope="col" class="govuk-table__header">Case Id</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Woodbrook Vale School</a> </td>
          <td class="govuk-table__cell">135246</td>
          <td class="govuk-table__cell">10058904</td>
          <td class="govuk-table__cell">Chris Mitchell</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="contacts">
    
    
  </div>

</section>

<section>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Cases
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#open">
        Open (0)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#closed">
       Closed (1)
      </a>
    </li>
  </ul>


  <div class="govuk-tabs__panel" id="open">
    
    
  </div>

  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed">
    
    <table class="govuk-table">
      
      
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Created</th>
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Case ID</th>
          <th scope="col" class="govuk-table__header">Case Type</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 10 2020</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link ">
             Woodbrook Vale School </a></td>
          <td class="govuk-table__cell">
          <span class="govuk-tag govuk-tag-green">green</span>
          <span class="govuk-tag govuk-tag-amber">amber</span></td>
          <td class="govuk-table__cell">CI - 10078904</td>
          <td class="govuk-table__cell">Financial query responce</td>
        </tr>
      </tbody>
    </table>
  </div>
    
    





{% endblock %}