{% extends "layout.html" %}


{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}


{% block content %}

<h2 class="govuk-hint"> CI 1004634 </h2>

<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Add a concern</h1>


<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Trust details
        </span>
    </summary>


    <section class="app-summary-card govuk-!-margin-bottom-6">

        <header class="app-summary-card__header">

            <h2 class="app-summary-card__title">
                <strong>Case</strong>
            </h2>
        </header>
        <div class="app-summary-card__body">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case Id
                    </dt>
                    <dt class="govuk-summary-list__value">
                        CI - 1004634
                    </dt>
                    <dt class="govuk-summary-list__key">
                        Trust
                    </dt>
                    <dt class="govuk-summary-list__value">
                        <a href="/concerns/trust-overview-1" class="govuk-link govuk-link--no-visited-state">
                            {{ outgoingTrust.trust_name }}</a>
                    </dt>
                </div>

                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Owner
                        </dt>
                    <dd class="govuk-summary-list__value">
                        TBC
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Contact
                    </dd>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.contact}}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Local Authority
                        </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.local_authority_name }}
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Telephone
                    </dd>
                    <dd class="govuk-summary-list__value">
                        01234 567890
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Number of Academies
                        </dt>
                    <dd class="govuk-summary-list__value">
                        1
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Email
                    </dd>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.email }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        UKPRN
                        </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.ukprn }}
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Website
                    </dd>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingTrust.website }}
                    </dd>
                </div>
            </dl>
        </div>

    </section>
</details>


<section>
    <h2 class="govuk-heading-m">Case primary concern</h2>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body" style="border-left: 5px solid red; padding-left: 10px;">
                Please only select one concern that this case is primary to.
                In the next steps you can select the case relevant elements.
            </p>
        </div>
    </div>
    </a>


    <form action="/concerns/elements/" method="post" class="form">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <div id="changed-name-hint" class="govuk-hint">
                    Please select only one issue or concern from the radio buttons
                </div>
                <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name" name="concern-type" type="radio"
                            value="Finance" {{ checked("concern-type", "Finance") }}>
                        <label class="govuk-label govuk-radios__label" for="changed-name">
                            Finance
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="concern-type" type="radio"
                            value="Governance" {{ checked("concern-type", "Governance") }}>
                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            Governance
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="concern-type" type="radio"
                            value="Irregularity" {{ checked("concern-type", "Irregularity") }}>
                        <label class="govuk-label govuk-radios__label" for="changed-name-3">
                            Irregularity
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>


    </form>
    {% endblock %}