{% extends "layout-not.html" %}


{% block beforeContent %}
{{ govukBackLink({
      "text": "Back",
      "href": "javascript: window.history.go(-1)"
    }) 
  }}
{% endblock %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}


{% block content %}

<h2 class="govuk-hint"> CI 1004634 </h2>

<h1 class="govuk-heading-l govuk-!-margin-bottom-4">Add an element</h1>


<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Case details
        </span>
    </summary>


    <section class="app-summary-card govuk-!-margin-bottom-6">

        <header class="app-summary-card__header">

            <h2 class="app-summary-card__title">
                <strong>Case</strong>
            </h2>
        </header>
        <div class="app-summary-card__body">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case Id
                    </dt>
                    <dt class="govuk-summary-list__value">
                        CI - 1004634
                    </dt>
                    <dt class="govuk-summary-list__key">
                        Trust
                    </dt>
                    <dt class="govuk-summary-list__value">
                        <a href="/concerns/trust-overview-1" class="govuk-link govuk-link--no-visited-state">
                            {{ outgoingTrust.trust_name }}</a>
                    </dt>
                </div>

                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Owner
                        </dt>
                    <dd class="govuk-summary-list__value">
                        TBC
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Contact
                    </dd>
                    <dd class="govuk-summary-list__value">
                        Sarah Deloitte (Chair)
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Territory
                        </dt>
                    <dd class="govuk-summary-list__value">
                        Northern
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Telephone
                    </dd>
                    <dd class="govuk-summary-list__value">
                        01234 567890
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        Academy
                        </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingAcademy.academy_name }}
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Email
                    </dd>
                    <dd class="govuk-summary-list__value">

                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                        URN
                        </dt>
                    <dd class="govuk-summary-list__value">
                        {{ outgoingAcademy.urn }}
                    </dd>
                    <dd class="govuk-summary-list__key">
                        Website
                    </dd>
                    <dd class="govuk-summary-list__value">

                    </dd>
                </div>
            </dl>
        </div>

    </section>
</details>


<section>

    <form action="/concerns/elements/types" method="post" class="form">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Type of {{ data['concern-type'] }} concern
                    </h1>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="types" name="types" type="checkbox"
                            value="Financial returns compliance" {{ checked("types", "Financial returns compliance") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="types">
                            Financial returns compliance
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="types-2" name="types" type="checkbox"
                            value="Financial reporting compliance"
                            {{ checked("types", "Financial reporting compliance") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="types-2">
                            Financial reporting compliance
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="types-3" name="types" type="checkbox"
                            value="Executive pay" {{ checked("types", "Executive pay") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="types-3">
                            Executive pay
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="types-4" name="types" type="checkbox"
                            value="Governance" {{ checked("types", "Governance") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="types-4">
                            Governance
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="types-4" name="types" type="checkbox" value="Closure"
                            {{ checked("types", "Closure") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="types-4">
                            Closure
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="types-4" name="types" type="checkbox"
                            value="Safeguarding" {{ checked("types", "Safeguarding") }}>
                        <label class="govuk-label govuk-checkboxes__label" for="types-4">
                            Safeguarding
                        </label>
                    </div>
                </div>

            </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>

    {% endblock %}