{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Confirm GCSE details" %}

{% set backLink = referrer or ("/record/" + data.record.id) %}
{% set backText = "Back to record" %}

{% set gridColumn = 'govuk-grid-column-full' %}
{% set formAction = "./update" | addReferrer(referrer) %}

{% block formContent %}

  <h1 class="govuk-heading-l">{{pageHeading}}</h1>
  {% include "_includes/summary-cards/gcse-details.html" %}

{# {{ govukCheckboxes({
  idPrefix: "gcse-status",
  name: "record[gcse][status]",
  items: [
    {
      value: "Completed",
      text: "I have completed this section",
      checked: checked(record.gcse.status, "Completed")
    }
  ]
  }) }} #}

  {{ govukButton({
    text: "Continue"
  }) }}

{% endblock %}

