{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Review trainee record" %}

{% set formAction = "./save" %}

{% set hideReturnLink = true %}
{% set showIncomplete = true %}
{% set backLink = './overview' %}
{% set backText = 'Back to draft record' %}
{% set gridColumn = 'govuk-grid-column-full' %}


{% block formContent %}
{% set referrer = recordPath + "/check-record" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    {% if errorList %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You must complete all sections before submitting for TRN"
          }
        ]
      }) }}
    {% endif %}

    {% set draftRecordName %}
      {% if record.personalDetails.shortName %}
       for {{record.personalDetails.shortName}}
      {% endif %}
    {% endset %}

    <span class="govuk-caption-l">{{'Draft record' + draftRecordName}}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{pageHeading}}</h1>

    {% if not recordIsComplete %}

      {% set insetTextHtml %}
        <p class="govuk-body">This record is not complete and cannot be submitted for TRN. If you do not have all the required information now, you can <a href="./save-as-draft" class="govuk-link">save as a draft record</a>.</p>
      {% endset %}

      {{ govukInsetText({
        html: insetTextHtml
      }) }}

    {% endif %}

  </div>
</div>

{# Don’t show anything if user doesn't have multiple providers #}
{% if data.settings.userProviders | length > 1  %}

  {# Include a link if using blended model #}
  {% if data.signedInProviders | length > 1 %}
    {% set insetProviderText %}
      Training with <a href="{{'./pick-provider' | addReferrer(referrer) }}" class="govuk-link">{{record.provider}}</a>.
    {% endset %}
    
  {# Don’t link if using hat model - they need to back out and pick a different provider to work as #}
  {% else %}
    {% set insetProviderText %}
      Training with {{record.provider}}.
    {% endset %}
  {% endif %}

  {{ govukInsetText({
    html: insetProviderText
  }) }}
{% endif %}


<h2 class="govuk-heading-m">Personal details and education</h2>

{% include "_includes/summary-cards/personal-details.html" %}

{% include "_includes/summary-cards/contact-details.html" %}

{% include "_includes/summary-cards/diversity.html" %}

{% include "_includes/summary-cards/gcse-details.html" %}

{% include "_includes/summary-cards/degree/details.html" %}

<h2 class="govuk-heading-m">About their training</h2>

{# Provider summary card not used - inset text instead #}
{# {% include "_includes/summary-cards/provider-details.html" %} #} 

{# Record setup not currently used - can probably delete soon #}
{# {% include "_includes/summary-cards/record-setup.html" %} #}

{% include "_includes/summary-cards/programme-details.html" %}

{% include "_includes/summary-cards/training-details.html" %}

{{ govukButton({
  text: "Submit record and request TRN"
}) }}

<p class="govuk-body"><a href="./save-as-draft" class="govuk-link">Return to this draft record later</a></p>

{% endblock %}
