{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Add a trainee" %}

{% set hideReturnLink = true %}
{% set backLink = '/records' %}
{% set backText = "All records" %}
{% set referrer = recordPath + "/overview" %}


{% block formContent %}

{% set draftRecordName %}
  {% if record.personalDetails.shortName %}
   for {{record.personalDetails.shortName}}
  {% endif %}
{% endset %}

<span class="govuk-caption-l">{{'Draft record' + draftRecordName}}</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-8">{{pageHeading}}</h1>

{# Don’t show anything if user doesn't have multiple providers #}
{% if data.settings.userProviders | length > 1  %}

  {# Include a link if using blended model #}
  {% if data.signedInProviders | length > 1 %}
    {% set insetProviderText %}
      Training with <a href="./pick-provider" class="govuk-link">{{record.provider}}</a>.
    {% endset %}

  {# Don’t link if using hat model - they need to back out and pick a different provider to work as #}
  {% else %}
    {% set insetProviderText %}
      Training with {{record.provider}}.
    {% endset %}
  {% endif %}

  {{ govukInsetText({
    html: insetProviderText
  }) }}
{% endif %}


<h2 class="govuk-heading-m">Personal details and education</h2>
{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [{
    text: "Personal details",
    href: "personal-details" | reviewIfInProgress(record.personalDetails),
    id: "personal-details",
    tag: {
      classes: record.personalDetails | getStatusText | getStatusClass,
      text: record.personalDetails | getStatusText
    }
  } if record | requiresSection("personalDetails"),
  {
    text: "Contact details",
    href: "contact-details" | reviewIfInProgress(record.contactDetails),
    id: "contact-details",
    tag: {
      classes: record.contactDetails | getStatusText | getStatusClass,
      text: record.contactDetails | getStatusText
    }
  } if record | requiresSection("contactDetails"),
  {
    text: "Diversity information",
    href: "diversity/information-disclosed" | reviewIfInProgress(record.diversity, 'diversity'),
    id: "diversity",
    tag: {
      classes: record.diversity | getStatusText | getStatusClass,
      text: record.diversity | getStatusText
    }
  } if record | requiresSection("diversity"),
  {
    text: "GCSE",
    href: "gcse-details" | reviewIfInProgress(record.gcse, 'gcse'),
    id: "qualification-gcse",
    tag: {
      classes: record.gcse | getStatusText | getStatusClass,
      text: record.gcse | getStatusText
    }
  } if record | requiresSection("gcse"),
  {
    text: "Degree",
    href: "degree/confirm" if (record.degree.items | length) else "degree/add",
    id: "qualification-degree",
    tag: {
      classes: record.degree | getStatusText | getStatusClass,
      text: record.degree | getStatusText
    }
  } if record | requiresSection("degree")
  ]
}) if not closed }}


<h2 class="govuk-heading-m">About their training</h2>

{{ appTaskList({
  classes: "govuk-!-margin-bottom-8",
  items: [{
    text: "Type of training",
    href: "record-setup",
    id: "record-type",
    tag: {
      classes: 'Completed' | getStatusClass,
      text: 'Completed'
    }
  } if record | requiresSection("recordSetup"),
  {
    text: "Programme details",
    href: "programme-details" | reviewIfInProgress(record.programmeDetails),
    id: "programme-details",
    tag: {
      classes: record.programmeDetails | getStatusText | getStatusClass,
      text: record.programmeDetails | getStatusText
    }
  } if record | requiresSection("programmeDetails"),
  {
    text: "Trainee start date and ID",
    href: "training-details" | reviewIfInProgress(record.trainingDetails),
    id: "training-details",
    tag: {
      classes: record.trainingDetails | getStatusText | getStatusClass,
      text: record.trainingDetails | getStatusText
    }
  } if record | requiresSection("trainingDetails")
  ]
}) if not closed }}

<h2 class="govuk-heading-m">Review and submit</h2>

{{ govukButton({
  text: "Review this record",
  href: "check-record"
}) }}

<p class="govuk-body"><a href="./save-as-draft" class="govuk-link govuk-link--no-visited-state">Return to this draft record later</a></p>

<p class="govuk-body govuk-!-margin-top-8"><a href="./delete-draft/confirm" class="govuk-link app-destructive-link">Delete this draft</a></p>
{# <p class="govuk-body"><a href="./save-as-draft" class="govuk-link">Save this as draft</a></p> #}

{% endblock %}
