{% extends "_templates/_new-record.html" %}

{% set pageHeading = "Record submitted" %}

{% set hideReturnLink = true %}
{% set backLink = '/records' %}
{% set backText = 'All records' %}

{% block formContent %}

{# For this one page, we no longer have record in session data, so have to look it up #}
{% set record = data.records | getRecordById(data.submittedRecordId) or {} %}

{% set panelTitleText %}
  Record submitted {{ ("for " + record.personalDetails.shortName) if record.personalDetails.shortName }}
{% endset %}

{{ govukPanel({
  titleText: panelTitleText,
  html: "Your reference number<br><strong>HDJ2123F</strong>" if false,
  classes: "govuk-!-margin-bottom-6"
}) }}

<p class="govuk-body">The Department for Education (DfE) will issue a teacher reference number (TRN) within 3 working days. </p>

<p class="govuk-body govuk-!-margin-bottom-7">DfE will contact trainees to give them their TRN.</p>

{{ govukButton({
  text: "Add another record",
  href: "/new-record/new"
}) }}

<p class="govuk-body govuk-!-margin-bottom-9">or <a href="/records" class="govuk-link">check trainee statuses and manage records</a></p>

{% set insetTextHtml %}
  <h2 class="govuk-heading-s">How are you finding this process?</h2>
  <p class="govuk-body"><a href="#" class="govuk-link">Give feedback to help make the trainee registration process better</a></p>
{% endset %}

{{ govukInsetText({
  html: insetTextHtml
}) }}

{% endblock %}
