<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}
  {% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}
  {% block content %}
  
    <div class="buttons-topOfPage">
      {{ govukButton({ text: "Back to casework", classes: "govuk-button--secondary", href:
        "/concerns/homepage.html" }) }}
        {{ govukButton({ text: "Close case", classes: "govuk-button--warning float__right", href: "/concerns/closure/example-case-close" }) }}
    </div>

    <h1 class="govuk-heading-l" name="caseID">
      <span class="govuk-caption-m">Case ID</span>
      10244AC
    </h1>
    <h2 class="govuk-heading-m">Wintermute Academy Trust</h2>
    <a href="#" class="govuk-link">Trust overview (TRAMS)</a>

    <!--Overview-->
        <dl class="govuk-summary-list summary-list-margin-0">
          <div class="govuk-summary-list__row">
            <dt class="dfe-width-20percent govuk-summary-list__key">
              Primary Concern
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="caseDetail_type">Financial: Deficit</span>
            </dd>
            <dd class="dfe-width-15percent govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="dfe-width-20percent govuk-summary-list__key">
              Risk rating
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span>
            </dd>
            <dd class="dfe-width-15percent govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="dfe-width-20percent govuk-summary-list__key">
              Direction of travel
            </dt>
            <dd class="govuk-summary-list__value">
              Improving
            </dd>
            <dd class="dfe-width-15percent govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> direction of travel</span>
              </a>
            </dd>
          </div>
        </dl>
                
        <!--Accordions-->
        <div class="govuk-accordion"
             data-module="govuk-accordion"
             id="accordion-default">

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-1">Issue</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content govuk-!-margin-bottom-6" id="accordion-default-content-1">

              <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">Confirmed cumulative deficit of less than 5% of years total income in most recent audited accounts.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

              
            </div>
            
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Current status</span>
              </h2>
            </div>

            <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content govuk-!-margin-bottom-6" id="accordion-default-content-2">
              <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">An agreed trust financial recovery plan is now in place and has been adhered to for the last 3 months. The trust is on track to meet their predicted surplus carried forward position by the end of the year after making significant restructuring changes, implementing SRMA report savings and using financial benchmarking.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-3">Next steps</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-3" class="govuk-accordion__section-content govuk-!-margin-bottom-6"
                 id="accordion-default-content-3">
                 
                 <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">Take action to close based on the Risk Management Framework and action taken by the trust. Trust is no longer a concern and has a robust recovery plan in place.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-3">Case resolution</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-3" class="govuk-accordion__section-content govuk-!-margin-bottom-6" id="accordion-default-content-3">

              <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">Work along side the trust to improve finances using SRMA action and ESFA available tools.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

            </div>
          </div>
          
          {% if data['whistleblowerWut'] == 'yes' %}
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-1">Whistleblower</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-1"
                 class="govuk-accordion__section-content govuk-!-margin-bottom-6"
                 id="accordion-default-content-1">
              <a class="govuk-link float__right"
                   href="#">Edit</a>
              <p>{{ data['whistleblower-detail'] }}</p>
            </div>
          </div>{% endif %}
        </div>

  {% endblock %}
</body>
</html>
