<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends "layout.html" %}
  {% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}
  {% block content %}
  
  {{ govukButton({ text: "Back to casework", classes: "govuk-button--secondary dfe_secondary", href:
  "/concerns/homepage.html" }) }}
  {{ govukButton({ text: "Close case", classes: "govuk-button--warning float__right", href: "/concerns/closure/" }) }}

  <h1 class="govuk-heading-l" name="caseID">10244AC</h1>
  <h2 class="govuk-heading-m">Wintermute Academy Trust</h2>
  
    <!-- Tabs -->
    <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#concerns">Case details</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#overview">Trust overview</a>
        </li>
      </ul>
      
      <!--Case details tab-->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="concerns">

        <!--Overview-->
        <dl class="govuk-summary-list summary-list-margin-0">
          <div class="govuk-summary-list__row">
            <dt class="dfe-width-20percent govuk-summary-list__key">
              Primary Concern
            </dt>
            <dd class="govuk-summary-list__value">
                <span class="caseDetail_type">Financial: Deficit</span><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span>
            </dd>
            <dd class="dfe-width-15percent govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="dfe-width-20percent govuk-summary-list__key">
              Direction of travel
            </dt>
            <dd class="govuk-summary-list__value">
              Improving
            </dd>
            <dd class="dfe-width-15percent govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> direction of travel</span>
              </a>
            </dd>
          </div>
        </dl>
                
        <!--Accordions-->
        <div class="govuk-accordion"
             data-module="govuk-accordion"
             id="accordion-default">

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-1">Issue</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content govuk-!-margin-bottom-6" id="accordion-default-content-1">

              <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">Confirmed cumulative deficit of less than 5% of years total income in most recent audited accounts.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

              
            </div>
            
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Current status</span>
              </h2>
            </div>

            <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content govuk-!-margin-bottom-6" id="accordion-default-content-2">
              <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">An agreed trust financial recovery plan is now in place and has been adhered to for the last 3 months. The trust is on track to meet their predicted surplus carried forward position by the end of the year after making significant restructuring changes, implementing SRMA report savings and using financial benchmarking.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-3">Next steps</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-3" class="govuk-accordion__section-content govuk-!-margin-bottom-6"
                 id="accordion-default-content-3">
                 
                 <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">Take action to close based on the Risk Management Framework and action taken by the trust. Trust is no longer a concern and has a robust recovery plan in place.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-3">Resolution strategy</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-3" class="govuk-accordion__section-content govuk-!-margin-bottom-6" id="accordion-default-content-3">

              <!--<a class="govuk-link float__right" href="#">Edit</a>-->

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group">
                  <textarea class="govuk-textarea govuk-js-character-count auto-resize" id="issue-detail" name="issue-detail" rows="3" aria-describedby="issue-detail-info">Work along side the trust to improve finances using SRMA action and ESFA available tools.</textarea>
                </div>
              
                <div id="issue-detail-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 500 characters
                </div>
              
              </div>

            </div>
          </div>
          
          {% if data['whistleblowerWut'] == 'yes' %}
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-1">Whistleblower</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-1"
                 class="govuk-accordion__section-content govuk-!-margin-bottom-6"
                 id="accordion-default-content-1">
              <a class="govuk-link float__right"
                   href="#">Edit</a>
              <p>{{ data['whistleblower-detail'] }}</p>
            </div>
          </div>{% endif %}
        </div>
        
        
        <!-- Case history -->
        <div class="govuk-!-margin-top-9">
          <h3 class="govuk-heading-m">Case history</h3><!-- Actions -->
          <div class="fitContent govuk-accordion"
               data-module="govuk-accordion"
               id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header"
                   id="action_header">
                <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                      id="action_button">Actions</span></h2>
              </div>
              <div aria-labelledby="action_button"
                   class="govuk-accordion__section-content"
                   id="action_content">
                <ul class="govuk-list timeline-action-list">
                  <li><button class="timeline_action"
                          href="#">Comment</button></li>
                  <li><button class="timeline_action"
                          href="add-concern">Concern</button></li>
                  <li><button class="timeline_action"
                          href="#">Financial</button></li>
                  <li><button class="timeline_action"
                          href="#">FNTI</button></li>
                  <li><button class="timeline_action"
                          href="#">Forced termination of FA</button></li>
                  <li><button class="timeline_action"
                          href="#">Investigation</button></li>
                  <li><button class="timeline_action"
                          href="#">Letter</button></li>
                  <li><button class="timeline_action"
                          href="#">Linked case(s)</button></li>
                  <li><button class="timeline_action"
                          href="#">Outcome</button></li>
                  <li><button class="timeline_action"
                          href="#">PRA Support</button></li>
                  <li><button class="timeline_action"
                          href="#">Recovery plan</button></li>
                  <li><button class="timeline_action"
                          href="#">SRMA</button></li>
                  <li><button class="timeline_action"
                          href="#">TFF</button></li>
                  <li><button class="timeline_action"
                          href="#">Whistleblower</button></li>
                </ul>
              </div>
            </div>
          </div><!-- Timeline -->
          <div class="moj-timeline">
            <div class="moj-timeline__item">
              <div class="moj-timeline__header">
                <h2 class="moj-timeline__title">Case created</h2>
                <p class="moj-timeline__byline">by Alex Episeen</p>
              </div>
              <p class="moj-timeline__date"><time>19 July 2021 at 2:01pm</time></p>
              <div class="moj-timeline__description">
                <p><span class="caseDetail_type">Finance: Deficit</span><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Trust overviews tab -->
      <div class="govuk-tabs__panel" id="overview">
        <!--Trust deets-->
        <table class="govuk-table govuk-!-margin-bottom-9">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header">UKPRN</td>
              <td class="govuk-table__cell">{{ outgoingTrust.ukprn }}</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__header">Contact</td>
              <td class="govuk-table__cell">{{ outgoingTrust.contact}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">UID</td>
              <td class="govuk-table__cell">{{ outgoingTrust.uid }}</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__header">Phone</td>
              <td class="govuk-table__cell">{{ outgoingTrust.phone }}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Type</td>
              <td class="govuk-table__cell">{{ outgoingTrust.establishment_type }}</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__header">Email</td>
              <td class="govuk-table__cell">{{ outgoingTrust.email }}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Academies</td>
              <td class="govuk-table__cell">{{ outgoingTrust.academies }}</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__header">Website</td>
              <td class="govuk-table__cell">{{ outgoingTrust.website }}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__header">Local Authority</td>
              <td class="govuk-table__cell">{{ outgoingTrust.local_authority }}</td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__header">Address</td>
              <td class="govuk-table__cell">{{ outgoingTrust.address }}</td>
              <td></td>
            </tr>
          </tbody>
        </table><!--Open cases-->
        <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19"
             href="/concerns/new-case.html"
             style="float:right; margin-bottom:-45px;">Closed cases</a>
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Open cases
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row tr__large">
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">Case ID</th>
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">Primary case type</th>
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">RAG rating</th>
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">Created</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1004634</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Compliance: Financial reporting</td>
              <td class="govuk-table__cell govuk-table__cell_middle"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></td>
              <td class="govuk-table__cell govuk-table__cell_middle">09-07-2021</td>
            </tr>
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1003845</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Safeguarding</td>
              <td class="govuk-table__cell govuk-table__cell_middle"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></td>
              <td class="govuk-table__cell govuk-table__cell_middle">18-06-2021</td>
            </tr>
          </tbody>
        </table><!--<table class="govuk-table  govuk-!-margin-top-9">
          <caption class="govuk-table__caption govuk-table__caption==m">
            RDD cases
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row tr__large">
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">Case ID</th>
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">Case type</th>
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">Academy</th>
              <th class="govuk-table__header govuk-table__header__cases"
                  scope="col">Delivery officer</th>
              <th class="govuk-table__header govuk-table__header__cases govuk-table__header__right"
                  scope="col">Days open</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell__cases"><a href="#">CI-1005628</a></td>
              <td class="govuk-table__cell govuk-table__cell__cases">Transfer In</td>
              <td class="govuk-table__cell govuk-table__cell__cases">Finkle-McGraw Secondary</td>
              <td class="govuk-table__cell govuk-table__cell__cases">John Hackworth</td>
              <td class="govuk-table__cell govuk-table__cell__cases govuk-table__cell==numeric">18</td>
            </tr>
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell__cases"><a href="#">CI-1007446</a></td>
              <td class="govuk-table__cell govuk-table__cell__cases">Change: Pupil numbers</td>
              <td class="govuk-table__cell govuk-table__cell__cases">Settlebeck School</td>
              <td class="govuk-table__cell govuk-table__cell__cases">John Hackworth</td>
              <td class="govuk-table__cell govuk-table__cell__cases govuk-table__cell==numeric">23</td>
            </tr>
          </tbody>
        </table>-->
        <!--Academies-->
        <table class="govuk-table govuk-!-margin-top-9"
               id="academies">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Academies
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header"
                  scope="col">Academy</th>
              <th class="govuk-table__header"
                  scope="col">URN</th>
              <th class="govuk-table__header"
                  scope="col">Type</th>
              <th class="govuk-table__header"
                  scope="col">LA</th>
              <th class="govuk-table__header"
                  scope="col">Head</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="#">Botley School</a>
              </td>
              <td class="govuk-table__cell">147759</td>
              <td class="govuk-table__cell">Primary, Academy sponsor led</td>
              <td class="govuk-table__cell">Oxfordshire</td>
              <td class="govuk-table__cell">Mrs Josephine Reid</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="#">Chalgrove Community Primary School</a>
              </td>
              <td class="govuk-table__cell">143969</td>
              <td class="govuk-table__cell">Primary, Academy converter</td>
              <td class="govuk-table__cell">Oxfordshire</td>
              <td class="govuk-table__cell">Ms Samantha Gillion</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="#">Icknield Community College</a>
              </td>
              <td class="govuk-table__cell">143984</td>
              <td class="govuk-table__cell">Secondary, Academy converter</td>
              <td class="govuk-table__cell">Oxfordshire</td>
              <td class="govuk-table__cell">Mr Mat Hunter</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="#">Matthew Arnold School</a>
              </td>
              <td class="govuk-table__cell">142104</td>
              <td class="govuk-table__cell">Secondary, Academy sponsor led</td>
              <td class="govuk-table__cell">Oxfordshire</td>
              <td class="govuk-table__cell">Katherine Ryan</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="#">Stadhampton Primary School</a>
              </td>
              <td class="govuk-table__cell">146481</td>
              <td class="govuk-table__cell">Primary, Academy converter</td>
              <td class="govuk-table__cell">Oxfordshire</td>
              <td class="govuk-table__cell">Miss Emma Charnock</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="#">Watlington Primary School</a>
              </td>
              <td class="govuk-table__cell">147281</td>
              <td class="govuk-table__cell">Primary, Academy converter</td>
              <td class="govuk-table__cell">Oxfordshire</td>
              <td class="govuk-table__cell">Mrs Yvonne Hammerton-Jackson</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link"
                    href="#">Wood Green School</a>
              </td>
              <td class="govuk-table__cell">144008</td>
              <td class="govuk-table__cell">Secondary, Academy converter</td>
              <td class="govuk-table__cell">Oxfordshire</td>
              <td class="govuk-table__cell">Mr Robert Shadbolt</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endblock %}
</body>
</html>
