<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
{% extends "layout.html" %}

{% block content %}
{% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

    <div class="buttons-topOfPage">
        {{ govukButton({ text: "Back to casework", classes: "govuk-button--secondary", href:
        "/concerns/homepage.html" }) }}
        {{ govukButton({ text: "Close case", classes: "govuk-button--warning float__right", href: "/concerns/closure/" }) }}
    </div>  

    <h1 class="govuk-heading-l" name="caseID">
        <span class="govuk-caption-m">Case ID</span>
        10483AC
    </h1>
    <h2 class="govuk-heading-m">
        {{ outgoingTrust.trust_name }}
    </h2>

    <!-- Tabs -->
  <div class="govuk-tabs" data-module="govuk-tabs">
    
    <h2 class="govuk-tabs__title">Contents</h2>
    
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#case-detail">Case detail</a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#trust-overview">Trust overview</a>
      </li>
    </ul>

    <!-- Case detail tab -->
    <div class="govuk-tabs__panel" id="case-detail">
    
        <dl class="govuk-summary-list">
                
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Trust</dt>
                <dd class="govuk-summary-list__address">
                  {{ trust.trust_name }} ({{ trust.region }})
                  </br>{{ trust.address }}
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>

            <!-- Risk to trust -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Risk to trust</dt>
              <dd class="govuk-summary-list__value">
                {% if data['trustRisk'] == 'amberGreen' %}
                <div class="tag-block"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></div>
                {% elif data['trustRisk'] == 'redAmber' %}
                <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></div>
                {% elif data['trustRisk'] == 'red' %}
                <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span></div>
                {% elif data['trustRisk'] == 'redPlus' %}
                <div class="tag-block"><span class="govuk-tag ragtag ragtag__redplus">Red Plus</span></div>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Edit</a>
              </dd>
            </div>

            <!-- Direction of travel -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Direction of travel</dt>
              <dd class="govuk-summary-list__value">
                {% if data['directionOfTravel'] == 'improving' %}
                Improving
                {% elif data['directionOfTravel'] == 'unchanged' %}
                Unchanged
                {% elif data['directionOfTravel'] == 'deteriorating' %}
                Deteriorating
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
              <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Edit</a>
              </dd>
            </div>

            <!-- Concern #1 -->
            <div class="govuk-summary-list__row">

              <dt class="govuk-summary-list__key govuk-summary-list__subRow">Concerns</dt>
              <dd class="govuk-summary-list__value govuk-summary-list__subRow">

                <div>
                  {% if data['concernSubType'] == 'compliance-financial-reporting' %}
                  <span class="caseDetail_type">Compliance: Financial reporting</span>
                  {% elif data['concernSubType'] == 'compliance-financial-returns' %}
                  <span class="caseDetail_type">Compliance: Financial returns</span>
                  {% elif data['concernSubType'] == 'financial-deficit' %}
                  <span class="caseDetail_type">Financial: Deficit</span>
                  {% elif data['concernSubType'] == 'financial-projected-deficit' %}
                  <span class="caseDetail_type">Financial: Projected deficit / Low future surplus</span>
                  {% elif data['concernSubType'] == 'financial-cash-flow-shortfall' %}
                  <span class="caseDetail_type">Financial: Cash flow shortfall</span>
                  {% elif data['concernSubType'] == 'financial-clawback' %}
                  <span class="caseDetail_type">Financial: Clawback</span>
                  {% elif data['concernType'] == 'force-majeure' %}
                  <span class= "caseDetail_type">Force Majeure</span>
                  {% elif data['concernSubType'] == 'governance-governance' %}
                  <span class="caseDetail_type">Governance: Governance</span>
                  {% elif data['concernSubType'] == 'governance-closure' %}
                  <span class= "caseDetail_type">Governance: Closure</span>
                  {% elif data['concernSubType'] == 'governance-executive-pay' %}
                  <span class="caseDetail_type">Governance: Executive Pay</span>
                  {% elif data['concernSubType'] == 'governance-safeguarding' %}
                  <span class="caseDetail_type">Governance: Safeguarding</span>
                  {% elif data['concernSubType'] == 'irregularity-allegations' %}
                  <span class="caseDetail_type">Iregularity: Allegations</span>
                  {% elif data['concernSubType'] == 'irregularity-related-party-transactions' %}
                  <span class="caseDetail_type">Irregularity: Related party transactions - in year</span>
                  {% endif %}
                </div>

              </dd>

              <dd class="govuk-summary-list__value govuk-summary-list__subRow">

                <div>
                  {% if data['riskType'] == 'amberGreen' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></div>
                  {% elif data['riskType'] == 'redAmber' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></div>
                  {% elif data['riskType'] == 'red' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span></div>
                  {% elif data['riskType'] == 'redPlus' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__redplus">Red Plus</span></div>
                  {% endif %}
                </div>

              </dd>

              <dd class="govuk-summary-list__actions govuk-summary-list__subRow">
              <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Edit</a>
              </dd>

            </div>

            <!-- Concern #2 -->
            <div class="govuk-summary-list__row">

              <dt class="govuk-summary-list__key govuk-summary-list__subRow"></dt>
              <dd class="govuk-summary-list__value govuk-summary-list__subRow">

                <div>
                    {% if data['concernSubTypeTwo'] == 'compliance-financial-reporting' %}
                    <span class="caseDetail_type">Compliance: Financial reporting</span>
                    {% elif data['concernSubTypeTwo'] == 'compliance-financial-returns' %}
                    <span class="caseDetail_type">Compliance: Financial returns</span>
                    {% elif data['concernSubTypeTwo'] == 'financial-deficit' %}
                    <span class="caseDetail_type">Financial: Deficit</span>
                    {% elif data['concernSubTypeTwo'] == 'financial-projected-deficit' %}
                    <span class="caseDetail_type">Financial: Projected deficit / Low future surplus</span>
                    {% elif data['concernSubTypeTwo'] == 'financial-cash-flow-shortfall' %}
                    <span class="caseDetail_type">Financial: Cash flow shortfall</span>
                    {% elif data['concernSubTypeTwo'] == 'financial-clawback' %}
                    <span class="caseDetail_type">Financial: Clawback</span>
                    {% elif data['concernTypeTwo'] == 'force-majeure' %}
                    <span class= "caseDetail_type">Force Majeure</span>
                    {% elif data['concernSubTypeTwo'] == 'governance-governance' %}
                    <span class="caseDetail_type">Governance: Governance</span>
                    {% elif data['concernSubTypeTwo'] == 'governance-closure' %}
                    <span class= "caseDetail_type">Governance: Closure</span>
                    {% elif data['concernSubTypeTwo'] == 'governance-executive-pay' %}
                    <span class="caseDetail_type">Governance: Executive Pay</span>
                    {% elif data['concernSubTypeTwo'] == 'governance-safeguarding' %}
                    <span class="caseDetail_type">Governance: Safeguarding</span>
                    {% elif data['concernSubTypeTwo'] == 'irregularity-allegations' %}
                    <span class="caseDetail_type">Iregularity: Allegations</span>
                    {% elif data['concernSubTypeTwo'] == 'irregularity-related-party-transactions' %}
                    <span class="caseDetail_type">Irregularity: Related party transactions - in year</span>
                    {% endif %}
                </div>

              </dd>

              <dd class="govuk-summary-list__value govuk-summary-list__subRow">

                <div>
                    {% if data['riskTypeTwo'] == 'amberGreen' %}
                    <div class="tag-block"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></div>
                    {% elif data['riskTypeTwo'] == 'redAmber' %}
                    <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></div>
                    {% elif data['riskTypeTwo'] == 'red' %}
                    <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span></div>
                    {% elif data['riskTypeTwo'] == 'redPlus' %}
                    <div class="tag-block"><span class="govuk-tag ragtag ragtag__redplus">Red Plus</span></div>
                    {% endif %}
                </div>

              </dd>

              <dd class="govuk-summary-list__actions govuk-summary-list__subRow">
              <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Edit</a>
              </dd>

            </div>

            <!-- Concern #3 -->
            <div class="govuk-summary-list__row">

              <dt class="govuk-summary-list__key govuk-summary-list__subRow"></dt>
              <dd class="govuk-summary-list__value govuk-summary-list__subRow">
                <div>
                    {% if data['concernSubTypeThree'] == 'compliance-financial-reporting' %}
                    <span class="caseDetail_type">Compliance: Financial reporting</span>
                    {% elif data['concernSubTypeThree'] == 'compliance-financial-returns' %}
                    <span class="caseDetail_type">Compliance: Financial returns</span>
                    {% elif data['concernSubTypeThree'] == 'financial-deficit' %}
                    <span class="caseDetail_type">Financial: Deficit</span>
                    {% elif data['concernSubTypeThree'] == 'financial-projected-deficit' %}
                    <span class="caseDetail_type">Financial: Projected deficit / Low future surplus</span>
                    {% elif data['concernSubTypeThree'] == 'financial-cash-flow-shortfall' %}
                    <span class="caseDetail_type">Financial: Cash flow shortfall</span>
                    {% elif data['concernSubTypeThree'] == 'financial-clawback' %}
                    <span class="caseDetail_type">Financial: Clawback</span>
                    {% elif data['concernTypeThree'] == 'force-majeure' %}
                    <span class= "caseDetail_type">Force Majeure</span>
                    {% elif data['concernSubTypeThree'] == 'governance-governance' %}
                    <span class="caseDetail_type">Governance: Governance</span>
                    {% elif data['concernSubTypeThree'] == 'governance-closure' %}
                    <span class= "caseDetail_type">Governance: Closure</span>
                    {% elif data['concernSubTypeThree'] == 'governance-executive-pay' %}
                    <span class="caseDetail_type">Governance: Executive Pay</span>
                    {% elif data['concernSubTypeThree'] == 'governance-safeguarding' %}
                    <span class="caseDetail_type">Governance: Safeguarding</span>
                    {% elif data['concernSubTypeThree'] == 'irregularity-allegations' %}
                    <span class="caseDetail_type">Iregularity: Allegations</span>
                    {% elif data['concernSubTypeThree'] == 'irregularity-related-party-transactions' %}
                    <span class="caseDetail_type">Irregularity: Related party transactions - in year</span>
                    {% endif %}
                </div>
              </dd>
              <dd class="govuk-summary-list__value govuk-summary-list__subRow">
                <div>
                  {% if data['riskTypeThree'] == 'amberGreen' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></div>
                  {% elif data['riskTypeThree'] == 'redAmber' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></div>
                  {% elif data['riskTypeThree'] == 'red' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__red">Red</span></div>
                  {% elif data['riskTypeThree'] == 'redPlus' %}
                  <div class="tag-block"><span class="govuk-tag ragtag ragtag__redplus">Red Plus</span></div>
                  {% endif %}
                </div>
              </dd>
              <dd class="govuk-summary-list__actions govuk-summary-list__subRow">
              <a href="#" class="govuk-link govuk-link--no-visited-state" style="float:right;">Edit</a>
              </dd>

            </div>

            <!-- Add concern -->
            <div class="govuk-summary-list__row">

              <dt class="govuk-summary-list__key"></dt>
              <dd class="govuk-summary-list__value">
                <div>
                  <a href="#" class="govuk-link govuk-link--no-visited-state">Add concern</a>
                </div>
              </dd>
              <dd class="govuk-summary-list__actions"></dd>

            </div>

        </dl>
                    
        <!--Accordions-->
        <div class="govuk-accordion govuk-!-margin-top-9" data-module="govuk-accordion" id="accordion-default">

            <div class="govuk-accordion__section govuk-accordion__section--expanded">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Issue</span>
                    </h2>
                </div>
                <div aria-labelledby="accordion-default-heading-1" class="govuk-accordion__section-content  govuk-!-margin-bottom-6" id="accordion-default-content-1">
                    <a class="govuk-link float__right" href="edit_issue?from=concerns/management/index">Edit</a>
                    <div class="details">
                    <p>{{ data['issue-detail'] }}</p>
                    </div>
                </div>
            </div>

            <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Current status</span>
                </h2>
            </div>
            <div aria-labelledby="accordion-default-heading-2" class="govuk-accordion__section-content  govuk-!-margin-bottom-6" id="accordion-default-content-2">
                <a class="govuk-link float__right" href="edit_current_status?from=concerns/management/index">Edit</a>
                <div class="details">
                <p>{{ data['current-status-detail'] }}</p>
                </div>
            </div>
            </div>

            <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Case aim</span>
                </h2>
            </div>
            <div aria-labelledby="accordion-default-heading-3" class="govuk-accordion__section-content  govuk-!-margin-bottom-6" id="accordion-default-content-3">
                <a class="govuk-link float__right" href="edit_case_aim?from=concerns/management/index">Edit</a>
                <div class="details">
                <p>{{ data['case-aim-detail'] }}</p>
                </div>
            </div>
            </div>

            <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">De-escalation point</span>
                </h2>
            </div>
            <div aria-labelledby="accordion-default-heading-4" class="govuk-accordion__section-content  govuk-!-margin-bottom-6" id="accordion-default-content-4">
                <a class="govuk-link float__right" href="edit_deescalation_point?from=concerns/management/index">Edit</a>
                <div class="details">
                <p>{{ data['deescalation-point-detail'] }}</p>
                </div>
            </div>
            </div>

            <div class="govuk-accordion__section govuk-accordion__section--expanded">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-5">Next steps</span>
                </h2>
            </div>
            <div aria-labelledby="accordion-default-heading-5" class="govuk-accordion__section-content  govuk-!-margin-bottom-6" id="accordion-default-content-5">
                <a class="govuk-link float__right" href="edit_next_steps?from=concerns/management/index">Edit</a>
                <div class="details">
                <p>{{ data['next-steps-detail'] }}</p>
                </div>
            </div>
            </div>
            
            {% if data['whistleblowerWut'] == 'yes' %}
            <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading"><span class="govuk-accordion__section-button"
                    id="accordion-default-heading-1">Whistleblower</span></h2>
            </div>
            <div aria-labelledby="accordion-default-heading-1"
                    class="govuk-accordion__section-content  govuk-!-margin-bottom-6"
                    id="accordion-default-content-1">
                <a class="govuk-link float__right" href="edit_whistleblower?from=concerns/management/index">Edit</a>
                <p>{{ data['whistleblower-detail'] }}</p>
            </div>
            </div>{% endif %}
        </div>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Add to case
        </button>
    
    </div>

    <!-- Trust overview tab -->
      <div class="govuk-tabs__panel" id="trust-overview">

        <!-- Trust detail -->
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Multi-academy trust
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ trust.address }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Local authority
            </dt>
            <dd class="govuk-summary-list__value">
              {{ trust.region }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of academies
            </dt>
            <dd class="govuk-summary-list__value">
              3
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total pupil capacity
            </dt>
            <dd class="govuk-summary-list__value">
              2526
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of pupils
            </dt>
            <dd class="govuk-summary-list__value">
              2080 (82%)
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Group ID
            </dt>
            <dd class="govuk-summary-list__value">
              RT01388
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UID
            </dt>
            <dd class="govuk-summary-list__value">
              2424
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKPRN
            </dt>
            <dd class="govuk-summary-list__value">
              10045678
            </dd>
          </div>
        </dl>

        <!-- Contact detail -->
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Main contact
            </dt>
            <dd class="govuk-summary-list__value">
              Bill Gibson (Chair)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              01223 456789
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              b.gibson@wintermuteacademy.ac.uk
            </dd>
          </div>
        </dl>

        <!-- Financial detail -->
        <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Companies house
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">08765432</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              In-year balance 2019-2020
            </dt>
            <dd class="govuk-summary-list__value">
              <span style="color: #d4351c;">-£429k</span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Revenue reserve
            </dt>
            <dd class="govuk-summary-list__value">
              £668k
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last financial report
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#">View financial report</a>
            </dd>
          </div>
        </dl>

        <!-- Academies -->
        <table class="govuk-table govuk-!-margin-top-9" id="academies">
          <caption class="govuk-table__caption govuk-table__caption--m">
            Academies
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Academy</th>
              <th class="govuk-table__header" scope="col">URN</th>
              <th class="govuk-table__header" scope="col">Type</th>
              <th class="govuk-table__header" scope="col">LA</th>
              <th class="govuk-table__header" scope="col">Head</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Icknield Community College</a>
              </td>
              <td class="govuk-table__cell">143984</td>
              <td class="govuk-table__cell">Secondary, Academy converter</td>
              <td class="govuk-table__cell">South Cambridgeshire</td>
              <td class="govuk-table__cell">Mr Mat Hunter</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Matthew Arnold School</a>
              </td>
              <td class="govuk-table__cell">142104</td>
              <td class="govuk-table__cell">Secondary, Academy sponsor led</td>
              <td class="govuk-table__cell">South Cambridgeshire</td>
              <td class="govuk-table__cell">Katherine Ryan</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">Stadhampton Primary School</a>
              </td>
              <td class="govuk-table__cell">146481</td>
              <td class="govuk-table__cell">Primary, Academy converter</td>
              <td class="govuk-table__cell">South Cambridgeshire</td>
              <td class="govuk-table__cell">Miss Emma Charnock</td>
            </tr>
          </tbody>
        </table>

        <!-- Cases -->
        <table class="govuk-table govuk-!-margin-top-9" id="otherCases">

          <caption class="govuk-table__caption govuk-table__caption--m">
            Other cases
          </caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row tr__large">
              <th class="govuk-table__header govuk-table__header__cases" scope="col">Case ID</th>
              <th class="govuk-table__header govuk-table__header__cases" scope="col">Primary concern</th>
              <th class="govuk-table__header govuk-table__header__cases" scope="col">Risk rating</th>
              <th class="govuk-table__header govuk-table__header__cases" scope="col">Date closed</th>
              <th class="govuk-table__header govuk-table__header__cases" scope="col">Status</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1004634</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Compliance: Financial reporting</td>
              <td class="govuk-table__cell govuk-table__cell_middle"><span class="govuk-tag ragtag ragtag__amber">Amber</span><span class="govuk-tag ragtag ragtag__green">Green</span></td>
              <td class="govuk-table__cell govuk-table__cell_middle">-</td>
              <td class="govuk-table__cell govuk-table__cell_middle">Open</td>
            </tr>
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1003845</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Safeguarding</td>
              <td class="govuk-table__cell govuk-table__cell_middle"><span class="govuk-tag ragtag ragtag__red">Red</span><span class="govuk-tag ragtag ragtag__amber">Amber</span></td>
              <td class="govuk-table__cell govuk-table__cell_middle">-</td>
              <td class="govuk-table__cell govuk-table__cell_middle">Open</td>
            </tr>
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1003217</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Financial: Deficit</td>
              <td class="govuk-table__cell govuk-table__cell_middle">-</td>
              <td class="govuk-table__cell govuk-table__cell_middle">13-03-2021</td>
              <td class="govuk-table__cell govuk-table__cell_middle">Closed</td>
            </tr>
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1003221</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Safeguarding</td>
              <td class="govuk-table__cell govuk-table__cell_middle">-</td>
              <td class="govuk-table__cell govuk-table__cell_middle">26-11-2020</td>
              <td class="govuk-table__cell govuk-table__cell_middle">Closed</td>
            </tr>
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1002876</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Financial: Deficit</td>
              <td class="govuk-table__cell govuk-table__cell_middle">-</td>
              <td class="govuk-table__cell govuk-table__cell_middle">05-06-2019</td>
              <td class="govuk-table__cell govuk-table__cell_middle">Closed</td>
            </tr>
            <tr class="govuk-table__row tr__large">
              <td class="govuk-table__cell govuk-table__cell_middle">
                <a href="#">CI-1001548</a>
              </td>
              <td class="govuk-table__cell govuk-table__cell_middle">Safeguarding</td>
              <td class="govuk-table__cell govuk-table__cell_middle">-</td>
              <td class="govuk-table__cell govuk-table__cell_middle">17-05-2018</td>
              <td class="govuk-table__cell govuk-table__cell_middle">Closed</td>
            </tr>
          </tbody>
        </table>

      </div>
      
    {% endblock %}

    <!--Auto resize textareas-->
    <script>
        document.addEventListener("DOMContentLoaded", function autoResizeHeight(){
        this.style.height="auto";
        this.style.height= this.scrollHeight+"px";
        });
    </script>

    <script>
        var multipleFields=document.querySelectorAll('.auto-resize');
        for(var i=0; i<multipleFields.length; i++){
        multipleFields[i].addEventListener('input',autoResizeHeight,0);
        }
        // auto resize multiple textarea
        function autoResizeHeight(){
        this.style.height="auto";
        this.style.height= this.scrollHeight+"px";
        this.style.borderColor="green";
        }
    </script>

</body>
</html>
