{% extends "layout.html" %} {% set navActive = "home" %} {% macro
display_project_info(project_type) %} {% if project_type == 'a2b' %} Application
to become an academy {% elif project_type == 'transfers' %} Application to join
Dynamics Academy {% elif project_type == 'change' %} Application to change age
range {% elif project_type == 'concerns' %} Concerns on financial deficit {%
endif %} {% endmacro %} {% macro project_type_to_text(project_type) %} {% if
project_type == 'a2b' %} Apply to become {% elif project_type == 'transfers' %}
Transfers {% elif project_type == 'change' %} Significant change {% elif
project_type == 'concerns' %} Case concerns {% endif %} {% endmacro %} {% macro
display_status_tag(project) %} {% if project.urgent %}
<span class="govuk-tag govuk-tag--red">URGENT</span>
{% elif project.status == 'newly_assigned' %}
<span class="govuk-tag govuk-tag--green">NEWLY ASSIGNED</span>
{% elif project.status == 'in_progress' %}
<span class="govuk-tag govuk-tag--blue">IN PROGRESS</span>
{% elif project.status == 'at_review' %}
<span class="govuk-tag govuk-tag--yellow">AT REVIEW</span>
{% elif project.status == 'awaiting_htb' %}
<span class="govuk-tag govuk-tag--purple">SUBMITTED</span>
{% endif %} {% endmacro %} {% macro displayProject(project) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      <a class="govuk-link" href="#">{{project.name}}</a>
    </h3>
    <p class="govuk-body govuk-!-margin-bottom-1">
      {{ display_project_info(project.project) }}
    </p>
    <p class="govuk-body-s dashboard-project__small-text">
      {{ project_type_to_text(project.project) }}
    </p>
  </div>
  <div class="govuk-grid-column-one-third dashboard-project-right">
    {{ display_status_tag(project) }}
    <p class="govuk-body govuk-!-margin-bottom-1">{{project.reference}}</p>
    <p class="govuk-body-s dashboard-project__small-text">
      {{project.daysUntilHTB}} days until HTB
    </p>
  </div>
</div>
<hr
  class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0"
/>
{% endmacro %} {% macro projects_for_field(data, heading, field) %}
<h2 class="govuk-heading-l">{{ heading }} ({{ data[field].length }})</h2>
{% for project in data[field] %} {{ displayProject(project) }} {% endfor %} {%
endmacro %} {% block content %}

<div class="govuk-width-container">
  <br />
  <h2 class="govuk-hint">Home</h2>
  <h1 class="govuk-heading-xl">Delivery projects</h1>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <form method="GET">
      <div class="govuk-form-group dashboard__filter-list">
        <h2 class="govuk-heading-l">Filter</h2>
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Apply filters
        </button>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Project
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="project"
                name="project" type="checkbox" value="a2b" {% if
                selectedProjectTypes.includes("a2b") %} checked {% endif %} >
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="project"
                >
                  Apply to Become
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="project-2"
                name="project" type="checkbox" value="transfers" {% if
                selectedProjectTypes.includes("transfers") %} checked {% endif
                %} >
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="project-2"
                >
                  Transfers
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="project-3"
                name="project" type="checkbox" value="change" {% if
                selectedProjectTypes.includes("change") %} checked {% endif %} >
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="project-3"
                >
                  Significant change
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="project-4"
                name="project" type="checkbox" value="concerns" {% if
                selectedProjectTypes.includes("concerns") %} checked {% endif %}
                >
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="project-4"
                >
                  Concerns
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Status
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status"
                type="checkbox" value="urgentProjects" {% if
                selectedStatuses.includes("urgentProjects") %} checked {% endif
                %} >
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Urgent
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status"
                type="checkbox" value="newly_assigned" {% if
                selectedStatuses.includes("newly_assigned") %} checked {% endif
                %} >
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Newly assigned
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2"
                name="status" type="checkbox" value="in_progress" {% if
                selectedStatuses.includes("in_progress") %} checked {% endif %}
                >
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="status-2"
                >
                  In progress
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3"
                name="status" type="checkbox" value="at_review" {% if
                selectedStatuses.includes("at_review") %} checked {% endif %} >
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="status-3"
                >
                  At review
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-4"
                name="status" type="checkbox" value="awaiting_htb" {% if
                selectedStatuses.includes("awaiting_htb") %} checked {% endif %}
                >
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="status-4"
                >
                  Awaiting HTB
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <form method="GET">
      <div class="govuk-form-group">
        <h2 class="govuk-heading-l">
          Search by project number, school or trust name
        </h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <input
                  class="govuk-input"
                  id="project-name-or-number"
                  name="project-name-or-number"
                  type="text"
                  {%
                  if
                  nameSearched
                  %}
                  value="{{nameSearched}}"
                  {%
                  endif
                  %}
                />
              </fieldset>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <button
              class="govuk-button"
              data-module="govuk-button"
              type="submit"
            >
              Apply filters
            </button>
          </div>
        </div>
        <a
          href="/transfers/trust-name"
          role="button"
          draggable="false"
          class="govuk-button"
          data-module="govuk-button"
        >
          Start a new project
        </a>
      </div>
    </form>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full dashboard__urgent-projects">
        {% if urgentProjects.length > 0 %}
        <h2 class="govuk-heading-l">
          Needs urgent attention ({{ urgentProjects.length }})
        </h2>
        {% for project in urgentProjects %} {{ displayProject(project) }} {%
        endfor %} {% endif %}
      </div>
    </div>

    <div class="govuk-!-margin-top-5">
      {% if projects.urgentProjects %} {{ projects_for_field(projects, 'Urgent
      Projects', 'urgentProjects')}} {% endif %}
    </div>

    <div class="govuk-!-margin-top-5">
      {% if projects.newly_assigned %} {{ projects_for_field(projects, 'Newly
      assigned to me', 'newly_assigned')}} {% endif %}
    </div>

    <div class="govuk-!-margin-top-5">
      {% if projects.in_progress %} {{ projects_for_field(projects, 'In
      progress', 'in_progress')}} {% endif %}
    </div>

    <div class="govuk-!-margin-top-5">
      {% if projects.at_review %} {{ projects_for_field(projects, 'At review',
      'at_review')}} {% endif %}
    </div>

    <div class="govuk-!-margin-top-5">
      {% if projects.awaiting_htb %} {{ projects_for_field(projects, 'Awaiting
      HTB', 'awaiting_htb')}} {% endif %}
    </div>
  </div>
</div>

{% endblock %}
