{% extends "layout.html" %}
{% set navActive = "home" %}

{% macro display_status_tag(status) %}
  {% if status == 'newly_assigned' %}
    <span class="govuk-tag govuk-tag--green">NEWLY ASSIGNED</span>
  {% elif status == 'pre_htb' %}
    <span class="govuk-tag govuk-tag--purple">PRE HTB</span>
  {% elif status == 'post_htb' %}
    <span class="govuk-tag govuk-tag--yellow">POST HTB</span>
  {% elif status == 'on_hold' %}
    <span class="govuk-tag govuk-tag--pink">ON HOLD</span>
  {% elif status == 'dismissed' %}
    <span class="govuk-tag govuk-tag--orange">DISMISSED</span>
  {% endif %}
{% endmacro %}



{% macro projects_for_field(data, heading, field) %}
  <h2 class="govuk-heading-l">{{ heading }} ({{ data[field].length }})</h2>
  {% for project in data[field] %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          <a class="govuk-link" href="/transfers/pre-project-overview.html">{{project.name}}</a> <p style="display:inline" class="govuk-body">{{project.reference}} </p>
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-1">Application to join {{project.joining}}</p>
        <p class="govuk-body-s dashboard-project__small-text">{{project.la}}</p>
      </div>
      <div class="govuk-grid-column-one-third dashboard-project-right">
        {{ display_status_tag(project.status) }}
        <p class="govuk-body govuk-!-margin-bottom-1">{{project.date}}</p>
        <p class="govuk-body-s dashboard-project__small-text">{{project.daysUntilHTB}} days until HTB</p>
        <p class="govuk-body-s govuk-!-margin-bottom-1">{{project.transferMonth}} transfer</p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
  {% endfor %}
{% endmacro %}



{% block content %}


<div class="govuk-width-container"><br>
  <h2 class="govuk-hint">Home</h2>
  <h1 class="govuk-heading-xl">Transfer projects (10)</h1>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="/transfers/trust-name" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start a new project
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>
  </div>
</div>

<!--
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-one-third">
    <form method="GET">
      <div class="govuk-form-group dashboard__filter-list">
        <h2 class="govuk-heading-l">Filter</h2>
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Apply filters
        </button>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label for="project-name-or-number"><legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Project number or name
            </legend></label>
            <input 
              class="govuk-input" 
              id="project-name-or-number" 
              name="project-name-or-number" 
              type="text"
              {% if nameSearched %} value={{nameSearched}} {% endif %}
            >
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Status
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status" 
                  name="status" 
                  type="checkbox" 
                  value="newly_assigned"
                  {% if selectedStatuses.includes("newly_assigned") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Newly assigned
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status-2" 
                  name="status" 
                  type="checkbox" 
                  value="in_progress"
                  {% if selectedStatuses.includes("in_progress") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  In progress
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status-3" 
                  name="status" 
                  type="checkbox" 
                  value="at_review"
                  {% if selectedStatuses.includes("at_review") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  At review
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status-4" 
                  name="status" 
                  type="checkbox" 
                  value="awaiting_htb"
                  {% if selectedStatuses.includes("awaiting_htb") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status-4">
                  Awaiting HTB
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
-->
<div class="govuk-!-margin-top-9">
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if projects.newly_assigned %}
      {{ projects_for_field(projects, 'Newly assigned to me', 'newly_assigned')}}
    {% endif %}

    {% if projects.pre_htb %}
      {{ projects_for_field(projects, 'Pre HTB', 'pre_htb')}}
    {% endif %}

    {% if projects.post_htb %}
      {{ projects_for_field(projects, 'Post HTB', 'post_htb')}}
    {% endif %}

    {% if projects.on_hold %}
      {{ projects_for_field(projects, 'On hold', 'on_hold')}}
    {% endif %}

    {% if projects.dismissed %}
      {{ projects_for_field(projects, 'Dismissed', 'dismissed')}}
    {% endif %}
  </div>
 </div>
</div>

{% endblock %}
