{% extends "layout.html" %}
{% set navActive = "home" %}

{% macro display_status_tag(status) %}
  {% if status == 'newly_assigned' %}
    <span class="govuk-body status-badge status-badge__newly-assigned">NEWLY ASSIGNED</span>
  {% elif status == 'in_progress' %}
    <span class="govuk-body status-badge status-badge__in-progress">IN PROGRESS</span>
  {% elif status == 'at_review' %}
    <span class="govuk-body status-badge status-badge__at-review">AT REVIEW</span>
  {% elif status == 'awaiting_htb' %}
    <span class="govuk-body status-badge status-badge__awaiting-htb">SUBMITTED</span>
  {% endif %}
{% endmacro %}

{% macro projects_for_field(data, heading, field) %}
  <h2 class="govuk-heading-l">{{ heading }} ({{ data[field].length }})</h2>
  {% for project in data[field] %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
          <a class="govuk-link" href="#">{{project.name}}</a>
        </h3>
        <p class="govuk-body govuk-!-margin-bottom-1">Application to join {{project.joining}}</p>
        <p class="govuk-body-s dashboard-project__small-text">{{project.la}}</p>
      </div>
      <div class="govuk-grid-column-one-third dashboard-project-right">
        {{ display_status_tag(project.status) }}
        <p class="govuk-body govuk-!-margin-bottom-1">{{project.reference}}</p>
        <p class="govuk-body-s dashboard-project__small-text">{{project.daysUntilHTB}} days until HTB</p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
  {% endfor %}
{% endmacro %}



{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container"><br>
  <h1 class="govuk-heading-xl">Academy Transfers</h1>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      Set up a new academy transfer project
    </p>
    <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Start a new transfer project
    </a>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-one-third">
    <form method="GET">
      <div class="govuk-form-group dashboard__filter-list">
        <h2 class="govuk-heading-l">Filter</h2>
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Apply filters
        </button>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label for="project-name-or-number"><legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Project number or name
            </legend></label>
            <input 
              class="govuk-input" 
              id="project-name-or-number" 
              name="project-name-or-number" 
              type="text"
              {% if nameSearched %} value={{nameSearched}} {% endif %}
            >
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Status
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status" 
                  name="status" 
                  type="checkbox" 
                  value="newly_assigned"
                  {% if selectedStatuses.includes("newly_assigned") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Newly assigned
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status-2" 
                  name="status" 
                  type="checkbox" 
                  value="in_progress"
                  {% if selectedStatuses.includes("in_progress") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  In progress
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status-3" 
                  name="status" 
                  type="checkbox" 
                  value="at_review"
                  {% if selectedStatuses.includes("at_review") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  At review
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="status-4" 
                  name="status" 
                  type="checkbox" 
                  value="awaiting_htb"
                  {% if selectedStatuses.includes("awaiting_htb") %} checked {% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="status-4">
                  Awaiting HTB
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </form>
  </div>

  <div class="govuk-grid-column-two-thirds">
    {% if projects.newly_assigned %}
      {{ projects_for_field(projects, 'Newly assigned to me', 'newly_assigned')}}
    {% endif %}

    {% if projects.in_progress %}
      {{ projects_for_field(projects, 'In progress', 'in_progress')}}
    {% endif %}

    {% if projects.at_review %}
      {{ projects_for_field(projects, 'At review', 'at_review')}}
    {% endif %}

    {% if projects.awaiting_htb %}
      {{ projects_for_field(projects, 'Awaiting HTB', 'awaiting_htb')}}
    {% endif %}
  </div>

</div>

{% endblock %}
