{% extends "layout.html" %}
{% set navActive = "home" %}

{% block beforeContent %}
    <a class="govuk-back-link"
       href="/transfers/trust-details.html?outgoing-trust-id={{ data['outgoing-trust-id'] }}">Back</a>
{% endblock %}

{% block content %}

    {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="/transfers/incoming.html" method="get" class="form">
                    <div class="govuk-form-group">
                        {{ govukCheckboxes({
                            idPrefix: "academies",
                            name: "outgoing-academies",
                            fieldset: {
                                legend: {
                                    text: "Add the transferring academies",
                                    isPageHeading: true,
                                    classes: "govuk-fieldset__legend--l"
                                }
                            },
                            hint: {
                                text: "Select all the academies that are transferring"
                            },
                            items: trust | trustAcademiesToCheckboxes
                        }) }}
                    </div>
                    <button role="button" draggable="false" class="govuk-button">
                        Save and continue
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}