{% extends "layout.html" %}
{% set navActive = "home" %}


{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/project-overview.html">Project overview</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Benefits of the transfer</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container ">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
             <h2 class="govuk-hint govuk-!-margin-top-9">AS_6785909</h2>
              <h1 class="govuk-heading-l">Benefits and other factors for {{ outgoingTrust.trust_name }}</h1>
          </div>
        </div>


<!-- Benefits section -->

        <div class="govuk-inset-text">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <fieldset class="govuk-fieldset" aria-describedby="benefits-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                What are the benefits the transfer intended to bring?
                            </h1>
                        </legend>
                        <div id="benefits-hint" class="govuk-hint">
                            Select all that apply.
                        </div>
                        <div class="govuk-checkboxes govuk-!-margin-top-5">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefits-1" name="benefits-1" type="checkbox"
                                    value="benefits-1">
                                <label class="govuk-label govuk-checkboxes__label" for="benefits-1">
                                    Strengthening governance 
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefits-2" name="benefits-2" type="checkbox"
                                    value="mines">
                                <label class="govuk-label govuk-checkboxes__label" for="benefits-2">
                                    Improving safeguarding
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefits-3" name="benefits-3" type="checkbox"
                                    value="farm">
                                <label class="govuk-label govuk-checkboxes__label" for="benefits-3">
                                    Stronger leadership
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefits-4" name="benefits-4" type="checkbox"
                                    value="benefits-4">
                                <label class="govuk-label govuk-checkboxes__label" for="benefits-4">
                                    Securing financial recovery
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefits-5" name="benefits-5" type="checkbox"
                                    value="benefits-5">
                                <label class="govuk-label govuk-checkboxes__label" for="benefits-5">
                                    Improving Ofsted rating
                                </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="benefits-6" name="benefits-6" type="checkbox"
                                    value="benefits-6">
                                <label class="govuk-label govuk-checkboxes__label" for="benefits-6">
                                    A central financial team and central support
                                </label>
                            </div>
                        </div>
                    </fieldset>

                </div>
                
            </div>
            <br>
            <div id="benefits-detail-hint" class="govuk-hint">
                Add another benefit
            </div>
            <textarea class="govuk-textarea" id="benefits-detail" name="benefits-detail" rows="1"
                aria-describedby="benefits-detail-hint"></textarea>
        </div>

<hr class="govuk-grid govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>

    <!-- Intervention Benefits section -->

        
            <div class="govuk-grid-row">

                <div class="govuk-grid-column">
                    <fieldset class="govuk-fieldset" aria-describedby="other-factors-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Are there any other factors to consider during this transfer?
                            </h1>
                        </legend>
                        <div id="other-factors-hint" class="govuk-hint">
                            Select all that apply.
                        </div>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="other-factors" name="other-factors" type="checkbox"
                                    value="other-factors">
                                <label class="govuk-label govuk-checkboxes__label" for="other-factors">
                                    This is a high profile transfer (ministers and media could be involved)
                                </label>
                            </div>
                        <div class="govuk-inset-text">
                        <div id="other-factor-1-hint" class="govuk-hint">
                            Specify this concern further
                        </div>
                        <input class="govuk-input" id="other-factor-1" name="other-factor-1" type="text"></div>
                        </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="other-factor-2" name="waste" type="checkbox"
                                    value="other-factor-2">
                                <label class="govuk-label govuk-checkboxes__label" for="other-factor-2">
                                    There are complex land and building issues
                                </label>
                            </div>
                        <div class="govuk-inset-text">
                        <div id="other-factor-3-hint" class="govuk-hint">
                            Specify this concern further
                        </div>
                        <input class="govuk-input" id="other-factor-3" name="other-factor-3" type="text"></div>
                        </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="other-factor-3" name="other-factor-3" type="checkbox"
                                    value="farm">
                                <label class="govuk-label govuk-checkboxes__label" for="other-factor-3">
                                    There are finance and debt concerns
                                </label>
                            </div>
                        <div class="govuk-inset-text">
                        <div id="other-factor-4-hint" class="govuk-hint">
                            Specify this concern further
                        </div>
                        <input class="govuk-input" id="other-factor-4" name="other-factor-4" type="text"></div>
                        </div>
                            
                    </fieldset>
 
 <hr class="govuk-grid govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>

   <form action="/transfers/project-overview" method="post"> 
              {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
              {% from "govuk/components/button/macro.njk" import govukButton %}
            
              {{ govukCheckboxes({
                idPrefix: "benefits-status",
                name: "benefits-status",
                items: [
                  {
                    value: "Completed",
                    text: "This section is ready to be included in the HTB template"
                  }
                  ]
                }) }}
              {{ govukButton({
                text: "Continue"
              }) }}
            
              </form>
    

{% endblock %}