{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container"><br>
  <h1 class="govuk-heading-xl">Dashboard</h1>
</div>
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Dashboard
  </h2>
  
 
    <h2 class="govuk-heading-l">Academy transfer projects</h2>
    <p class="govuk-body">Set up a new academy transfer project</p>

    <a href="trust-name.html" role="button" draggable="false" class="govuk-button">
      Start a new project
    </a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
          <label class="govuk-body" for="autocomplete-default">
            Search for projects by name or reference number
          </label>
          <input class="govuk-input autocomplete-wrapper" id="dashboard-search"> </input>
        </div>
      </div>
    </div>

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Search
    </button>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Academy transfer projects</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_2345678: <strong>Portland Academy</a> </td>
          <td class="govuk-tag govuk-tag--orange">    Urgent    </td>
        </tr>
     
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6785567: <strong>St Mary's Catholic Primary School</a> </td>
          <td class="govuk-tag govuk-tag--orange">    Urgent    </td>
        </tr>

      <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6759840: <strong>Altrincham College Green Lane</a> </td>
          <td class="govuk-tag govuk-tag--blue"> In progress </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6752340: <strong>Altrincham Grammar School For Boys</a> </td>
          <td class="govuk-tag govuk-tag--blue"> In progress </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6321840: <strong>Wigston Academy</a> </td>
          <td class="govuk-tag govuk-tag--blue"> In progress </td>
        </tr>

      <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6759840: <strong>St Wilfred's primary school</a> </td>
          <td class="govuk-tag govuk-tag--green"> Newly assigned </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_1234567: <strong>Alsager Primary School</a> </td>
          <td class="govuk-tag govuk-tag--green"> Newly assigned </td>
        </tr>

      <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
  
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6750000: <strong>Ridgewood School Barnsley Road</a> </td>
          <td class="govuk-tag govuk-tag--yellow"> At review </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_2345699: <strong>Our Lady immaculate Academies Trust Ltd</a> </td>
           <td class="govuk-tag govuk-tag--yellow"> At review </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_5432140: <strong>Ashfield School</a> </td>
          <td class="govuk-tag govuk-tag--yellow"> At review </td>
        </tr>
  
        <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6339840: <strong>Flourish House</a> </td>
           <td class="govuk-tag govuk-tag--purple"> SUBMITTED </td>
        </tr>
      </tbody>
    </table>
    

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="conversions">
    <h2 class="govuk-heading-l">Past week</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">18</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">16</td>
          <td class="govuk-table__cell">20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">24</td>
          <td class="govuk-table__cell">27</td>
        </tr>
      </tbody>
    </table>

  </div>
  
  </div>
</div>



{% endblock %}