{% extends "layout.html" %}
{% set navActive = "home" %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/project-overview.html">Project overview</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Features of the transfer</a>
    </li>
  </ol>
</div>

<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Features of the transfer</h1>

            <p class="govuk-body-l"><strong>Outgoing trust:</strong> {{ outgoingTrust.trust_name }} </p>

<!-- Prepop radios section -->

            <fieldset class="govuk-fieldset" aria-describedby="initiated-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Who initiated the academy transfer?
                    </h2>
                </legend>

                <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="initiated" name="initiated" type="radio" value="DfE"
                            checked />
                        <label class="govuk-label govuk-radios__label" for="initiated">
                            Department for Education
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="initiated-2" name="initiated" type="radio"
                            value="Ot" />
                        <label class="govuk-label govuk-radios__label" for="initiated-2">
                            Outgoing Trust
                        </label>
                    </div>
                </div>
            </fieldset>

            <hr class="govuk-grid-two-thirds govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            </hr>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="intervention-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Has this transfer started because RDD or ESFA have intervened with the academy or trust?
                        </h2>
                    </legend>
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                             <span class="govuk-details__summary-text">
                              Help with intervention transfers
                             </span>
                        </summary>
                        <div class="govuk-details__text">
                         We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
                        </div>
                    </details>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="intervention" name="intervention" type="radio"
                                value="yes" checked />
                            <label class="govuk-label govuk-radios__label" for="intervention">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="intervention-2" name="intervention" type="radio"
                                value="no" />
                            <label class="govuk-label govuk-radios__label" for="intervention-2">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>
        </div>

<!-- Subsection section -->

        <div class="govuk-grid-column-one-third">

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-s" id="subsection-title">
                    Useful information
                </h2>  
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="#">
                                View full application
                            </a>
                        </li>
                        <li>
                            <a class="govuk-link" href="#">
                                School information on TRAMS
                            </a>
                        </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>
                    </ul>
                </nav>
                <h2 class="govuk-heading-s" id="subsection-title">
                    Guidance
                </h2>   
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="#">
                                Guidance for setting an HTB date
                            </a>
                        </li>
                        <li>
                            <a class="govuk-link" href="#">
                                Full Guidance
                            </a>
                        </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>
                    </ul>
                </nav>

            </aside>
        </div>


<!-- RDD/RSC intervention section -->

        <div class="govuk-inset-text">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Can you provide more detail?
                            </h1>
                        </legend>
                    </fieldset>
                </div>

            </div>
             <br>
            <div id="intervention-reasons-detail-hint" class="govuk-hint">
                Give more information about the intention and reasons for RDD or RSC intervention if neccessary.
            </div>
            <textarea class="govuk-textarea" id="intervention-reasons-detail" name="intervention-reasons-detail" rows="5"
                aria-describedby="intervention-reasons-detail-hint"></textarea>
       </div>
        
 <hr class="govuk-grid-two-thirds govuk-section-break govuk-section-break--xl govuk-section-break--visible"> </hr>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What type of transfer is it?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfer-type" name="transfer-type" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="transfer-type">
          Closure of a SAT and the academy joining a MAT
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfer-type-2" name="transfer-type" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="transfer-type-2">
          Closure of a MAT and academies joining a MAT(s)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfer-type-3" name="transfer-type" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="transfer-type-3">
          Academy moving out of a MAT and joining another MAT
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfer-type-4" name="transfer-type" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="transfer-type-4">
          Academies joining together to form a new MAT
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfer-type-4" name="transfer-type" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="transfer-type-4">
          Two or more academy trusts are merging
        </label>
      </div>
        <div class="govuk-inset-text">
        <div id="other-detail-hint" class="govuk-hint">
                Other:
            </div>
             <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
      </div>
    </div>

  </fieldset>
</div>

    <form action="/transfers/project-overview" method="post"> 
              {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
              {% from "govuk/components/button/macro.njk" import govukButton %}
            
              {{ govukCheckboxes({
                idPrefix: "overview-status",
                name: "overview-status",
                items: [
                  {
                    value: "Completed",
                    text: "This section is ready to be included in the HTB template"
                  }
                  ]
                }) }}
              {{ govukButton({
                text: "Continue"
              }) }}
            
              </form>

    </main>

{% endblock %}