{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}

<a href="add-academies.html" class="govuk-back-link">Back</a>

<div class="govuk-form-group">

 <form action="/incoming" method="post" class="form">

  <fieldset class="govuk-fieldset" aria-describedby="identified-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Has an incoming trust been identified?
      </h1>
    </legend>


    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="identified-yes" name="identified" type="radio" value="yes" />
        <label class="govuk-label govuk-radios__label" for="identified-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="identified-no" name="identified" type="radio" value="no" />
        <label class="govuk-label govuk-radios__label" for="identified-no">
          No
        </label>
      </div>
    </div>
  </fieldset>

</div>

 <button class="govuk-button" data-module="govuk-button">Continue</button>
  </form>
{% endblock %}