{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}

<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
  

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="task-list.html">Transfer task list</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">3. Tasks relating to the transfering academy(ies)</a>
    </li>
  </ol>
</div>

<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">3. Tasks relating to the transfering academy(ies)</h1>
    </div>
  </div>
  
    <p class="govuk-notification-banner__heading">
      Lorem ipsum dolor
      <a class="govuk-notification-banner__link" href="#">View guidance</a>.
    </p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">Transfering Academy(ies)</h2>
    </div>
  </div>


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Transfering Academy(ies)
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        Shinning stars primary academy
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#past-month">
          Add more academies
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="past-day">
      <h2 class="govuk-heading-l">Viability checks</h2>

      <div id="waste-hint" class="govuk-hint">
        Viability checks mean lorem ipsum dolor a met.
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Collect information gathering exercise from trust
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Carry out viability assessment of trust
          </label>
        </div>
        <div class="govuk-inset-text">
          <div id="event-name-hint" class="govuk-hint">
            Add your own task
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>
      

      <h2 class="govuk-heading-l">Educational checks</h2>

      <div id="waste-hint" class="govuk-hint">
        Educational checks mean lorem ipsum dolor a met.
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Check educational performance of schools in the trust
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Carry out education check assessment of trust
          </label>
        </div>
        <div class="govuk-inset-text">
          <div id="event-name-hint" class="govuk-hint">
            Add your own task
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>

        <h2 class="govuk-heading-l">Financial checks</h2>

      <div id="waste-hint" class="govuk-hint">
        Financial checks mean lorem ipsum dolor a met.
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Check if the incoming trust completed their due diligence
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Check if the incoming trust completed their financial history task
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Check if the incoming trust completed their financial stability / predictions
          </label>
        </div>
        <div class="govuk-inset-text">
          <div id="event-name-hint" class="govuk-hint">
            Add your own task
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>
        <a href="task-list.html" role="button" draggable="false" class="govuk-button govuk-button"
                  data-module="govuk-button">
                  Save and return
                </a>
    </div>
</main>

        {% endblock %}