{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="add-academies.html">Add the transferring academies</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Add the incoming trust name</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container"><br>
  <h1 class="govuk-heading-xl">Add the incoming trust name</h1>
</div>
<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">THE ASPIRE EDUCATIONAL TRUST, TR00094, 08689696</th>
      <th class="govuk-table__header" scope="col"><a href="incoming.html" class="govuk-link">Remove</a></th>
    </tr>
  </tbody>
</table>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <label class="govuk-body govuk-hint" for="my-autocomplete">Search by name, trust reference number or companies house
      number</label>
    <div id="my-autocomplete-container"></div>
  </div>
</div>
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="incoming-3.html" role="button" draggable="false" class="govuk-button govuk-button--secondary">
       Save and Add
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="summary-2.html" role="button" draggable="false" class="govuk-button govuk-button--nikos">
       Save and continue
    </a>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/autocomplete.min.js"></script>
<link rel="stylesheet" href="/public/stylesheets/autocomplete.min.css" />
<script>
  const countries = [
    'ALMA PRIMARY, TR00054, 07958546',
    'ABBEY COLLEGE, RAMSEY, TR00001, 07740516',
    'FOUR CS MAT, TR00088, 07333133)',
    'ALSAGER MULTI ACADEMY TRUST, TR00057, 08597784',
    'ABBOTS HALL PRIMARY ACADEMY, TR00004, 08484553',
    'THE ARTHUR TERRY LEARNING PARTNERSHIP, TR00089, 07730920',
    'EDUCATION PARTNERSHIP TRUST, TR00059, 07950891',
    'ABBEY MULTI ACADEMY TRUST, TR00002, 07705552',
    'SOUTH MANCHESTER LEARNING TRUST, TR00060, 08137701',
    'THE HAMBLIN EDUCATION TRUST, TR00061, 07484717',
    'WIGSTON ACADEMIES TRUST, TR00006, 07975551',
    'THE ASPIRE EDUCATIONAL TRUST, TR00094, 08689696',
    'ANGLO EUROPEAN ACADEMY TRUST, TR00067, 07846848',
    'ASHBY SCHOOL, TR00096, 08126868',
    'ANSFORD ACADEMY TRUST, TR00069, 07657806'
  ]
  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: countries
  })
</script>

{% endblock %}