{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}

<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
  

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="task-list.html">Transfer task list</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">2. Tasks to carry out on the outgoing trust</a>
    </li>
  </ol>
</div>

<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">2. Tasks to carry out on the outgoing trust</h1>
    </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s">Outgoing trust</h2>
    </div>
  </div>


  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Our Lady Immaculate Catholic Academies Trust
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        Our Lady Immaculate Catholic Academies Trust
        </a>
      </li>
    </ul>

    <div class="govuk-tabs__panel" id="past-day">
<br>
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Is the trust closing after the transfer?
      </h2>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="closing" name="closing-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="closing-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="closing-2" name="closing-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="closing-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
<br>
 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Is this closure the reason for the transfer?
      </h2>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason" name="reason-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="reason-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="reason-2" name="reason-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="reason-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
<br>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Is the outgoing trust joining a new trust?
      </h2>
    </legend>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="joining" name="joining-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="joining-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="joining-2" name="joining-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="joining-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>
<br>

      <h2 class="govuk-heading-l">Viability checks</h2>

      <div id="waste-hint" class="govuk-hint">
        Viability checks mean lorem ipsum dolor a met.
      </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Carry out viability assessment of trust
          </label>
        </div>
        <div class="govuk-inset-text">
          <div id="event-name-hint" class="govuk-hint">
            Add your own task
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>
      

      <h2 class="govuk-heading-l">Educational checks</h2>

      <div id="waste-hint" class="govuk-hint">
        Educational checks mean lorem ipsum dolor a met.
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Check educational performance of schools in the trust
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Carry out education check assessment of trust
          </label>
        </div>
        <div class="govuk-inset-text">
          <div id="event-name-hint" class="govuk-hint">
            Add your own task
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>

        <h2 class="govuk-heading-l">Financial checks</h2>

      <div id="waste-hint" class="govuk-hint">
        Financial checks mean lorem ipsum dolor a met.
      </div>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Complete the financial assessment on the outgoing trust
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
            Check BAT tool and RDD task
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            Financial statements and Returns - ESFA task
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            DART - previous and open concerns cases
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
          <label class="govuk-label govuk-checkboxes__label" for="waste-2">
            RAT tool for any areas for vulnarable AT, level of pay of executives, highlights of other issues
          </label>
        </div>
        <div class="govuk-inset-text">
          <div id="event-name-hint" class="govuk-hint">
            Add your own task
          </div>
          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
        </div>
        <a href="task-list.html" role="button" draggable="false" class="govuk-button govuk-button"
                  data-module="govuk-button">
                  Save and return
                </a>
    </div>
</main>

        {% endblock %}