{% extends "layout.html" %}
{% set navActive = "home" %}

{% block beforeContent %}
    <a class="govuk-back-link" href="summary.html">Back</a>
{% endblock %}

{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

{% block content %}


 <div class="govuk-width-container ">
  <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
     <h2 class="govuk-hint">AS_6785909</h2>
      <h1 class="govuk-heading-xl">
        {{ outgoingTrust.trust_name }}
      </h1>

     <nav class="app-sub-navigation" aria-label="sub menu">

      <ul class="app-sub-navigation__list">
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link" aria-current="page" href="#">Create HTB template</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"  href="404.html">Application form</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"  href="404.html">Project dates</a>
        </li>
        <li class="app-sub-navigation__item">
          <a class="app-sub-navigation__link"  href="404.html">Project notes</a>
        </li>
      </ul>
    </nav>
   </div>
<div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Create HTB template</h2>
      <p class="govuk-body govuk-!-margin-bottom-5">This information in each section is pre-populated from TRAMS and the school’s application form.</p>
      <p class="govuk-body govuk-!-margin-bottom-5">You can make changes to the sections which will also populate into the HTB template.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
           Create HTB template
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">

              <span class="app-task-list__task-name">
                <a href="/transfers/features.html" aria-describedby="eligibility-status">
                  Features of a transfer
                </a>
              </span>
              <strong class="govuk-tag {{data|taskListStatusClass(['overview-status'] )}} app-task-list__tag" id="project-overview">
                {{data|taskListStatus(
                  ['overview-status']
                )}}
              </strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/transfers/transfer-dates.html" aria-describedby="read-declaration-status">
                  Set dates
                </a>
              </span>
              <strong class="govuk-tag {{data|taskListStatusClass(['dates-status'] )}} app-task-list__tag" id="project-dates">
                {{data|taskListStatus(
                  ['dates-status']
                )}}
              </strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="transfer-overview.html" aria-describedby="company-information-status">
                  General information
                </a>
              </span>
              <strong class="govuk-tag {{data|taskListStatusClass(['info-status'] )}} app-task-list__tag" id="project-info">
                {{data|taskListStatus(
                  ['info-status']
                )}}
              </strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/transfers/benefits.html" aria-describedby="contact-details-status">
                  Benefits and other factors
                </a>
              </span>
              <strong class="govuk-tag {{data|taskListStatusClass(['benefits-status'] )}} app-task-list__tag" id="project-benefits">
                {{data|taskListStatus(
                  ['benefits-status']
                )}}
              </strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                 Academy performance
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Reference only</strong>
            </li>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Pupil numbers
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Latest Ofsted report
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Key stage performance tables
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Latest progress 8 score
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Attainment
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
          </ul>
          </ol>

        <ol class="app-task-list">
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Viability assessment
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Reference only</strong>
            </li>
            <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Financial forecast
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Basic need in the local area
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Capability and capacity
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Upload supporting documentation
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Project plan
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
            <li class="app-task-list__item">
              <a href="#" aria-describedby="list-convictions-status">
                 Trust due dilligence
                </a>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Reference only</strong>
            </li>
          </ul>
        </ul>

        <li>
          <h2 class="app-task-list__section">
           Trust/sponsor template
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Check and edit Trust template
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot edit yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    

<!--

         <div class="govuk-grid-column-one-third">
          <div class="status-box">
            <h3 class="govuk-heading-m">Preview</h3>
            <p class="govuk-body-s">Preview your HTB template to see how your content looks.</p>
            <p class="govuk-body-s">You can also check your HTB template for any mistakes before you generate it and send it for review.</p>
            <p class="govuk-body-s">
              <a href="preview-templates/preview">Preview HTB template</a>
            </p>
            <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

            <h3 class="govuk-heading-m">Generate HTB papers</h3>
              <p class="govuk-body-s">You can make changes after generating the HTB papers. <p>
              <a href="404.html" class="govuk-button govuk-!-margin-bottom-2">Generate HTB papers</a>
            </p>
            </div>
        </div>
-->
                <h3 class="govuk-heading-l govuk-!-margin-bottom-2l">
                    Preview and generate template
                </p>

                <a href="htb-preview.html" role="button" draggable="false" class="govuk-button">
                    Preview HTB papers
                </a>
      </div>

{% endblock %}