{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="incoming-3.html">Add the incoming trust name</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Check trust and academy details</a>
    </li>
  </ol>
</div>


<div class="govuk-width-container">
  <br />
  <h1 class="govuk-heading-xl">Check trust and academy details</h1>
</div>

<div class="govuk-width-container">
  <br />
  <h1 class="govuk-heading-m">Outgoing trust</h1>
</div>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">
      Our Lady Immaculate Catholic Academies Trust Ltd
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="trust-name.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Trust Reference Number</dt>
    <dd class="govuk-summary-list__value">TR03117</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>

<div class="govuk-width-container">
  <br />
  <h1 class="govuk-heading-m">Academy details</h1>
</div>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">St Mary's Catholic Primary School</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-academies.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">URN</dt>
    <dd class="govuk-summary-list__value">143517</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Local authority</dt>
    <dd class="govuk-summary-list__value">Northamptonshire</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">School type</dt>
    <dd class="govuk-summary-list__value">Academy converter</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Faith school</dt>

    <dd class="govuk-summary-list__value">Roman catholic</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Ofsted rating</dt>
    <dd class="govuk-summary-list__value">Good</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Last inspection</dt>
    <dd class="govuk-summary-list__value">16 September 2018</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">PFI (private finance initiative)</dt>
    <dd class="govuk-summary-list__value">Does not apply</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Existing concerns</dt>
    <dd class="govuk-summary-list__value">None</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>



<div class="govuk-width-container">
  <br />
  <h1 class="govuk-heading-m">Incoming trusts</h1>
</div>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">THE ASPIRE EDUCATIONAL TRUST</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="incoming.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">TRN</dt>
    <dd class="govuk-summary-list__value">TR00094</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Companies House number</dt>
    <dd class="govuk-summary-list__value">08689696</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Trust type</dt>
    <dd class="govuk-summary-list__value">Multi Academy Trust</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Address</dt>
    <dd class="govuk-summary-list__value">Ash Grove Academy</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"></dt>
    <dd class="govuk-summary-list__value">Belgrave Road</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"></dt>
    <dd class="govuk-summary-list__value">Macclesfield</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"></dt>
    <dd class="govuk-summary-list__value">SK11 7TF</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>
<br>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">FOUR CS MAT</dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="incoming-2.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">TRN</dt>
    <dd class="govuk-summary-list__value">TR00088</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Companies House number</dt>
    <dd class="govuk-summary-list__value">07333133</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Trust type</dt>
    <dd class="govuk-summary-list__value">Multi Academy Trust</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Address</dt>
    <dd class="govuk-summary-list__value">Company Secretaries Office</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"></dt>
    <dd class="govuk-summary-list__value">Arthur Mellows Village</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"></dt>
    <dd class="govuk-summary-list__value">College Helpston Road, Glinton</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"></dt>
    <dd class="govuk-summary-list__value">Peterborough, PE6 7JX</dd>
    <dd class="govuk-summary-list__value"></dd>
  </div>
</dl>
<br>


<p class="govuk-body-l">
  Once you select save and continue, you’ll answer a few questions about the
  features of this transfer project.
</p>

<a href="features.html" role="button" draggable="false" class="govuk-button">
  Save and continue
</a>

{% endblock %}
