{% extends "layout.html" %}
{% set navActive = "home" %}


{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/project-overview.html">Project overview</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Transfer overview</a>
    </li>
  </ol>
</div>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Transfer overview</h1>

        <section class="app-summary-card govuk-!-margin-bottom-6">
          
          <header class="app-summary-card__header">
      
            <h2 class="app-summary-card__title">
               General information details
           </h2>
          </header>
    <div class="app-summary-card__body">
  
    
      <dl class="govuk-summary-list">
    

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Recommendation
            </dt>
            <dd class="govuk-summary-list__value">
               
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/transfers/trust-name.html">
                Change 
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Author
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/transfers/trust-name.html">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of HTB
            </dt>
            <dd class="govuk-summary-list__value">
              17 March 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/transfers/transfer-dates.html">
                Change 
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Project name 
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> {{ outgoingTrust.trust_name }} </p>
              <p class="govuk-body"> AS_6785909</p>
            </dd>
            <dd class="govuk-summary-list__actions">
               
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of sponsor/MAT
            </dt>
            <dd class="govuk-summary-list__value">
              TRO897456  Dynamics Academy 
            </dd>
            <dd class="govuk-summary-list__actions">
              
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Academy type and route
            </dt>
            <dd class="govuk-summary-list__value">
              Transfer grant only £2000 Convertor
            </dd>
            <dd class="govuk-summary-list__actions">
               
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Proposed academy transfer date
            </dt>
            <dd class="govuk-summary-list__value">
              01 July 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/transfers/trust-name.html">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date the transfer was first discussed with outgoing trust
            </dt>
            <dd class="govuk-summary-list__value">
              06 January 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/transfers/trust-name.html">
                Change 
              </a>
            </dd>
          </div>
        </dl>
    </section>

     <form action="/transfers/project-overview" method="post"> 
              {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
              {% from "govuk/components/button/macro.njk" import govukButton %}
            
              {{ govukCheckboxes({
                idPrefix: "info-status",
                name: "info-status",
                items: [
                  {
                    value: "Completed",
                    text: "This section is ready to be included in the HTB template"
                  }
                  ]
                }) }}
              {{ govukButton({
                text: "Continue"
              }) }}
            
              </form>


      </div>
    </div>
  </main>
</div>



{% endblock %}