{% extends "layout.html" %}
{% set navActive = "home" %}


{% set outgoingTrust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/dashboard/1">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/transfers/project-overview.html">Project overview</a>
    </li>
     <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Transfer dates</a>
    </li>
  </ol>
</div>


    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
             <h2 class="govuk-hint">AS_6785909</h2>
              <h1 class="govuk-heading-l">Set transfer dates for {{ outgoingTrust.trust_name }}</h1>
          </div>
        </div>
<!-- Dates -->
<div class="govuk-grid-row govuk-!-margin-top-5">
 <div class="govuk-grid-column-two-thirds">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
       Add the date the transfer was first discussed with the outgoing trust
      </h1>
    </legend>
    <div id="first-discussed-date-hint" class="govuk-hint">
      For example, 12 11 2007
    </div>
    <div class="govuk-date-input" id="first-discussed-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="first-discussed-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="first-discussed-date-day" name="first-discussed-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="first-discussed-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="first-discussed-date-month" name="first-discussed-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="first-discussed-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="first-discussed-date-year" name="first-discussed-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
  </fieldset>

   <fieldset class="govuk-fieldset govuk-!-margin-top-5" role="group" aria-describedby="potential-htb-date-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
       Add the target date for the transfer 
      </h1>
    </legend>
    <div id="potential-htb-date-hint" class="govuk-hint">
      For example, 12 11 2007. You can change this date later.
    </div>
    <div class="govuk-date-input" id="potential-htb-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="potential-htb-date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="potential-htb-date-day" name="potential-htb-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="potential-htb-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="potential-htb-date-month" name="potential-htb-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="potential-htb-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="potential-htb-date-year" name="potential-htb-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
  </fieldset>

  <hr class="govuk-grid govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>
</div>

<!-- Subsection section -->

        <div class="govuk-grid-column-one-third">

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-s" id="subsection-title">
                    Useful information
                </h2>  
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="#">
                                View full application
                            </a>
                        </li>
                        <li>
                            <a class="govuk-link" href="#">
                                School information on TRAMS
                            </a>
                        </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>
                    </ul>
                </nav>
                <h2 class="govuk-heading-s" id="subsection-title">
                    Guidance
                </h2>   
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="#">
                                Guidance for setting an HTB date
                            </a>
                        </li>
                        <li>
                            <a class="govuk-link" href="#">
                                Full Guidance
                            </a>
                        </li>
                    <hr class="govuk-grid-one-third govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>
                    </ul>
                </nav>

            </aside>
        </div>
    </div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
        Set HTB date
      </h1>
      <div id="htb-date-hint" class="govuk-hint govuk-!-margin-bottom-5">Use the information in the <a class="govuk-link" href="#">application form</a> to help you set the HTB date.
    </div>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date" name="htb-date" type="radio" value="january">
        <label class="govuk-label govuk-radios__label" for="htb-date">
          Friday 1 January 2021
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-2" name="htb-date" type="radio" value="february">
        <label class="govuk-label govuk-radios__label" for="htb-date-2">
          Monday 1 February 2021
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-3" name="htb-date" type="radio" value="march">
        <label class="govuk-label govuk-radios__label" for="htb-date-3">
          Monday 1 March 2021
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="april">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Thursday 1 April 2021
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="may">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Monday 3 May 2021
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="june">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Tuesday 1 June 2021
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="july">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Thursday 1 July 2021
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="august">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Tuesday 3 August 2021
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="september">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Wednesday 1 September 2021
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="october">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Friday 1 October 2021
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="november">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Monday 1 November 2021
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="htb-date-4" name="htb-date" type="radio" value="december">
        <label class="govuk-label govuk-radios__label" for="htb-date-4">
          Wednesday 1 December 2021
      </div>
        
    </div>
    </fieldset>
</div>

<hr class="govuk-grid govuk-section-break govuk-section-break--xl govuk-section-break--visible"></hr>

    <form action="/transfers/project-overview" method="post"> 
              {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
              {% from "govuk/components/button/macro.njk" import govukButton %}
            
              {{ govukCheckboxes({
                idPrefix: "dates-status",
                name: "dates-status",
                items: [
                  {
                    value: "Completed",
                    text: "This section is ready to be included in the HTB template"
                  }
                  ]
                }) }}
              {{ govukButton({
                text: "Continue"
              }) }}
            
              </form>

    

{% endblock %}