{% extends "layout.html" %}
{% set navActive = "home" %}

{% block beforeContent %}
    {% if data['autocompleted-outgoing-trust-id'] %}
    <a class="govuk-back-link"
       href="/transfers/trust-name.html">Back</a>
    {% else %}
    <a class="govuk-back-link"
       href="/transfers/outgoing-trust-search.html?outgoing-trust-search-query={{ data['outgoing-trust-search-query'] }}">Back</a>
    {% endif %}
{% endblock %}

{% block content %}

    {% set trust = data['trusts'] | getTrustById(data['outgoing-trust-id']) %}

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Outgoing trust details</h1>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">
                            {{ trust.trust_name }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Companies House Number</dt>
                        <dd class="govuk-summary-list__value">{{ trust.companies_house_number }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Type</dt>
                        <dd class="govuk-summary-list__value">{{ trust.establishment_type }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Trust Reference Number</dt>
                        <dd class="govuk-summary-list__value">{{ trust.trust_reference_number }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ trust.address | trustAddressToHtml | safe }}</p>
                        </dd>
                    </div>
                </dl>
                <a class="govuk-button" draggable="false" href="add-academies.html">Save and continue</a>
            </div>
        </div>
    </div>
{% endblock %}
