{% extends "layout.html" %}
{% set navActive = "home" %}

{% block content %}



<div class="govuk-width-container"><br>
  <h2 class="govuk-hint">Home</h2>
  <h1 class="govuk-heading-xl">Academy transfer projects</h1>
</div>
  

    <p class="govuk-body">Set up a new academy transfer project</p>

    <a href="trust-name.html" role="button" draggable="false" class="govuk-button">
      Start a new project
    </a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="govuk-form-group">
          <label class="govuk-body" for="autocomplete-default">
            Search for projects by name or reference number
          </label>
          <input class="govuk-input autocomplete-wrapper" id="dashboard-search"> </input>
        </div>
      </div>
    </div>

    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Search
    </button>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Academy transfer projects</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_2345678: <strong>Portland Academy</a> </td>
          <td class="govuk-tag govuk-tag--orange">    Urgent    </td>
        </tr>
     
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6785567: <strong>St Mary's Catholic Primary School</a> </td>
          <td class="govuk-tag govuk-tag--orange">    Urgent    </td>
        </tr>

      <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6759840: <strong>Altrincham College Green Lane</a> </td>
          <td class="govuk-tag govuk-tag--blue"> In progress </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6752340: <strong>Altrincham Grammar School For Boys</a> </td>
          <td class="govuk-tag govuk-tag--blue"> In progress </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6321840: <strong>Wigston Academy</a> </td>
          <td class="govuk-tag govuk-tag--blue"> In progress </td>
        </tr>

      <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6759840: <strong>St Wilfred's primary school</a> </td>
          <td class="govuk-tag govuk-tag--green"> Newly assigned </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_1234567: <strong>Alsager Primary School</a> </td>
          <td class="govuk-tag govuk-tag--green"> Newly assigned </td>
        </tr>

      <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
  
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6750000: <strong>Ridgewood School Barnsley Road</a> </td>
          <td class="govuk-tag govuk-tag--yellow"> At review </td>
        </tr>
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_5432140: <strong>Ashfield School</a> </td>
          <td class="govuk-tag govuk-tag--yellow"> At review </td>
        </tr>
  
        <thead class="govuk-table__head">
       <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>

      
        <tr class="govuk-table__row">
          <td> <a href="#" class="govuk-link">AS_6339840: <strong>Flourish House</a> </td>
           <td class="govuk-tag govuk-tag--purple"> SUBMITTED </td>
        </tr>
      </tbody>
    </table>
    

  </div>
  

  </div>
  
  </div>
</div>



{% endblock %}