
{% set expectedDuration = 'Not provided' %}
{% if programmeDetails.duration | falsify %}
  {% set expectedDuration = programmeDetails.duration + " years" %}
{% endif %}

{% set courseName %}
  {{programmeDetails.subject}} ({{programmeDetails.code}})<br>
  {{programmeDetails.summary}}
{% endset %}

{# {% set canAmend = false %} #}

{% set programmeDetailsRows = [
  {
    key: {
      text: "Training course"
    },
    value: {
      text: courseName | safe or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change course",
          visuallyHiddenText: "training course"
        }
      ]
    } if canAmend
  },
  {
    key: {
      text: "Route"
    },
    value: {
      text: programmeDetails.route | safe or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "route"
        }
      ]
    } if canAmend and false
  },
  {
    key: {
      text: "Subject"
    },
    value: {
      text: programmeDetails.subject or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "subject"
        }
      ]
    } if canAmend and false
  },
  {
    key: {
      text: "Level"
    },
    value: {
      text: programmeDetails.level | sentenceCase or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "level"
        }
      ]
    } if canAmend and false
  },
  {
    key: {
      text: "Age range"
    },
    value: {
      text: programmeDetails.ageRange or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "age range"
        }
      ]
    } if canAmend and false
  },
  {
    key: {
      text: "Start date"
    },
    value: {
      text: programmeDetails.startDate | govukDate("MMMM YYYY") or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "programme start date"
        }
      ]
    } if canAmend and false
  },
  {
    key: {
      text: "End date"
    },
    value: {
      text: programmeDetails.endDate | govukDate("MMMM YYYY") or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "programme end date"
        }
      ]
    } if canAmend and false
  } if false,
  {
    key: {
      text: "Duration"
    },
    value: {
      text: programmeDetails.duration + (' year' | pluralise(programmeDetails.duration)) or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "duration"
        }
      ]
    } if canAmend and false
  },
  {
    key: {
      text: "Trainee using an allocated place"
    },
    value: {
      text: programmeDetails.allocatedPlace or 'Not provided'
    },
    actions: {
      items: [
        {
          href: recordPath + "/programme-details/allocated-place" | addReferrer(referrer),
          text: "Change",
          visuallyHiddenText: "allocated place"
        }
      ]
    } if canAmend
  } if record | hasAllocatedPlaces and not hideAllocationRow
  ] %}



{% set programmeDetailsHtml %}
  {{ govukSummaryList({
    rows: programmeDetailsRows
  }) }}
{% endset %}





{% set complete = true if (programmeDetails | sectionIsCompleted ) %}
{% set status  = programmeDetails | getStatusText %}

{% if showIncomplete and not complete %}

  {% set incompleteType = "warning" if errorList %}
  {% set incompleteId = "programme-details" %}
  {% if status == "In progress" %}
    {% set incompleteText = "Programme details not marked as complete" %}
    {% set incompleteLink = recordPath + "/programme-details/confirm" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Continue section" %}
  {% else %}
    {% set incompleteText = "Programme details not started" %}
    {% set incompleteLink = recordPath + "/programme-details" | addReferrer(referrer) %}
    {% set incompleteLinkText = "Start section" %}
  {% endif %}

  {% include "_includes/incomplete.njk" %}

{% else %}
  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Progamme details",
    html: programmeDetailsHtml
  }) }}
  
{% endif %}
