{% extends "_templates/_page.html" %}
{% set navActive = "home" %}

{% block beforeContent %}
{{ govukBackLink({
"text": "Back",
"href": "javascript: window.history.go(-1)"
})
}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>

    <p class="govuk-body">
      If you entered a web address, check it is correct.
    </p>

    <p class="govuk-body">
      Alternatively you can return to the <a class="govuk-link" href="#">service homepage to find what you are looking
        for</a>.
    </p>

    <p class="govuk-body">
      If you continue to get this message, email the SDD support team at <a class="govuk-link"
        href="mailto:sddservicessupport@education.gov.uk">sddservicessupport<wbr>@education.gov.uk </a>
    </p>


  </div>

</div>

{% endblock %}