
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, something went wrong</h1>

    <p class="govuk-body">
      Try again later.
    </p>

    <p class="govuk-body">
      If you continue to get this message, email the Register trainee teachers team at <a class="govuk-link" href="mailto:registerateacher@digital.education.gov.uk?subject=Sorry%2C%20somethig%20went%20wrong">registerateacher@digital.education.gov.uk</a>.
    </p>

  </div>

</div>

{% endblock %}