
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{serviceName}} prototype</h1>

    <h2 class="govuk-heading-m">Prototype sections</h2>

    <div class="govuk-form-group">
      {{ govukButton({
        text: "Home (logged in)",
        href: "/home"
      }) }}
    </div>

    <h2 class="govuk-heading-m">Pages</h2>

    <p class="govuk-body">Main pages</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="home" class="govuk-link">Home / dashboard</a></li>
    </ul>

    <p class="govuk-body">Content pages</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="accessibility-statement" class="govuk-link">Accessibility statement</a></li>
      <li><a href="cookies" class="govuk-link">Cookie policy</a></li>
      <li><a href="privacy-policy" class="govuk-link">Privacy policy</a></li>
    </ul>

    <p class="govuk-body">Error pages</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="403" class="govuk-link">400 - Access denied</a></li>
      <li><a href="404" class="govuk-link">404 - Page not found</a></li>
      <li><a href="500" class="govuk-link">500 - Something went wrong</a></li>
    </ul>
  </div>
</div>

{% endblock %}
