{% extends "layout-cc.html" %}
{% set navActive = "notifications" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-card govuk-card--contained govuk-card--selectable"><a>
        <a href="/concerns/homepage"></a>
        <div class="govuk-card__content">
          <h3 class="govuk-heading-m">Concerns casework prototype</h3>
          <p class="govuk-body">This is fisrt iteration of a minimum viable service,
            to flesh out gaps, highlight patterns and inform design decisions.
          </p>
        </div>
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <h2 class="govuk-heading-m">Pages</h2>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Old content pages</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/concerns/homepage" class="govuk-link">Homepage</a></li>
      <li><a href="/concerns/trust-name" class="govuk-link">Trust name</a></li>
      <li><a href="/concerns/trust-details" class="govuk-link">Trust details</a></li>
      <li><a href="/concerns/add-academies" class="govuk-link">Add Academies</a></li>
      <li><a href="/concerns/summary" class="govuk-link">Summary</a></li>
      <li><a href="/concerns/initial-contact" class="govuk-link">Initial contact</a></li>
      <li><a href="/concerns/trust-overview" class="govuk-link">Trust overview</a></li>
      <li><a href="/concerns/academy-overview" class="govuk-link">Academy overview</a></li>
      <li><a href="/concerns/case-timeline" class="govuk-link">Case timeline</a></li>
      <li><a href="/concerns/case-timeline-2" class="govuk-link">Case timeline v2</a></li>
      <li><a href="/concerns/create-case" class="govuk-link">Case creation</a></li>
      <li><a href="/concerns/finance" class="govuk-link">Finance sub-page</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Policy pages</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="accessibility-statement" class="govuk-link">Accessibility statement</a></li>
      <li><a href="cookies" class="govuk-link">Cookie policy</a></li>
      <li><a href="privacy-policy" class="govuk-link">Privacy policy</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Error pages</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="403" class="govuk-link">400 - Access denied</a></li>
      <li><a href="404" class="govuk-link">404 - Page not found</a></li>
      <li><a href="500" class="govuk-link">500 - Something went wrong</a></li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-s">Before you start</h3>
    <p class="govuk-body">Some of the old content pages might not work as the server has not yet recorded any actions
      for them.
    </p>
  </div>
</div>

{% endblock %}