{% extends "layout.html" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Concerns prototype</h1>
    <p class="govuk-body-l">This is where the SDD Concerns service prototype lives.</p>
    <p class="govuk-body-l">You can use this to: 
      <ul class="govuk-list govuk-list--bullet govuk-body-l">
        <li>create and manage a case</li>
        <li>add a concern</li>
        <li>view the case timeline</li>
        <li>close the case and or concern</li>
      </ul>
    </p>
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Start prototype",
      href: "/concerns/homepage",
      isStartButton: true
    }) }}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-left-1 govuk-!-margin-top-6">
  <h2 class="govuk-heading-m">Additional pages</h2>

  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Policies</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="accessibility-statement" class="govuk-link">Accessibility statement</a></li>
      <li><a href="cookies" class="govuk-link">Cookie policy</a></li>
      <li><a href="privacy-policy" class="govuk-link">Privacy policy</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Errors</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="403" class="govuk-link">400 - Access denied</a></li>
      <li><a href="404" class="govuk-link">404 - Page not found</a></li>
      <li><a href="500" class="govuk-link">500 - Something went wrong</a></li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Supplemental</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/concerns/initial-contact-2" class="govuk-link">Initial contact</a></li>
      <li><a href="/concerns/academy-overview" class="govuk-link">Academy overview</a></li>
    </ul>
  </div>
</div>
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
text: "Some pages that are not featured in this MVP prototype are still being developed."
}) }}


{% endblock %}